@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>操作日志管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <input type="hidden" id="pid" value="${pid}">
                        <input type="hidden" id="type" value="${type}">
                        <div class="row">

                        </div>
                        <div class="hidden-xs" id="AppRecordTableToolbar" role="group">

                        </div>
                        <#table id="AppRecordTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appRecord/appRecord.js"></script>
@}
