@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>优钻获取管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="name" name="获取用户" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="eid" name="优优ID" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppYzconsume.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppYzconsume.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppYzconsumeTableToolbar" role="group">
                            @if(shiro.hasPermission("/appYzconsume/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppYzconsume.openAddAppYzconsume()"/>
                            @}
                            @if(shiro.hasPermission("/appYzconsume/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppYzconsume.openAppYzconsumeDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appYzconsume/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppYzconsume.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appYzconsume/export")){
                            <#button name="导出" icon="fa-download" clickFun="AppYzconsume.export()" space="true"/>
                            @}
                        </div>
                        <#table id="AppYzconsumeTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appYzconsume/appYzconsume.js"></script>
@}
