@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>优币兑换管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="name" name="兑换用户" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="eid" name="优优ID" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppYbexchange.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppYbexchange.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppYbexchangeTableToolbar" role="group">
                            @if(shiro.hasPermission("/appYbexchange/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppYbexchange.openAddAppYbexchange()"/>
                            @}
                            @if(shiro.hasPermission("/appYbexchange/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppYbexchange.openAppYbexchangeDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appYbexchange/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppYbexchange.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appYbexchange/export")){
                            <#button name="导出" icon="fa-download" clickFun="AppYbexchange.export()" space="true"/>
                            @}
                        </div>
                        <#table id="AppYbexchangeTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appYbexchange/appYbexchange.js"></script>
@}
