@layout("/common/_container.html"){
<style>
    .titleItem {
        float: left;
        text-align: center;
        width: 180px;
        line-height: 40px;
        border-top: 1px solid #E7EBEE;
        border-bottom: 1px solid #E7EBEE;
        border-left: 1px solid #E7EBEE;
        font-size: 16px;
    }
    .titleDiv {
        overflow: hidden;
    }
    .titleItemCk {
        color: #fff !important;
        background: #1AB395 !important;
    }
    .titleItem:last-child {
        border-right: 1px solid #E7EBEE;
    }
</style>
<div class="search_box" style="margin-left: 2%;">
    <div class="titleDiv">
        <div id="titleDivU3" class="titleItem titleItemCk" onclick="AppCharm.titleClick2('titleDivU3',3)">日榜</div>
        <div id="titleDivU2" class="titleItem" onclick="AppCharm.titleClick2('titleDivU2',2)">周榜</div>
        <div id="titleDivU1" class="titleItem" onclick="AppCharm.titleClick2('titleDivU1',1)">总榜</div>
    </div>
    <!--全部订单-->
    <div id="container">
        <div id="tab" class="tab-pane">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row row-lg">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <#NameCon id="usercoding" name="优优ID" />
                                        </div>
                                        <div class="col-sm-3">
                                            <#NameCon id="nickname" name="昵称" />
                                        </div>
                                        <div class="col-sm-3">
                                            <#button name="搜索" icon="fa-search" clickFun="AppCharm.search()"/>
                                            <!--<#button name="重置" icon="fa-trash" clickFun="AppRoom.resetSearch()"/>-->
                                        </div>
                                    </div>
                                    <div class="hidden-xs" id="AppCharmTableToolbar" role="group">
                                        <#button name="导出" icon="fa-download" clickFun="AppCharm.export()" space="true"/>
                                    </div>
                                    <#table id="AppCharmTable"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="${ctxPath}/static/modular/system/appCharm/appCharm.js"></script>
@}
