@layout("/common/_container.html"){

<style>
    .titleItem {
        float: left;
        text-align: center;
        width: 185px;
        line-height: 40px;
        border-top: 1px solid #E7EBEE;
        border-bottom: 1px solid #E7EBEE;
        border-left: 1px solid #E7EBEE;
        font-size: 16px;
    }
    .titleDiv {
        overflow: hidden;
    }
    .titleItemCk {
        color: #fff !important;
        background: #1AB395 !important;
    }
    .titleItem:last-child {
        border-right: 1px solid #E7EBEE;
    }
    .panel-body input {width: 70px;}
    /*.nav > li.active {
        border-left: 2px solid #19aa8d;
        background: #19aa8d;
    }*/
    p span{
        color: red;
        padding-right: 7px;
    }
    input{
        border: 1px solid #e5e6e7;
    }
    select{
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        padding: 6px 12px;
        -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        font-size: 14px;
    }
    p{
        line-height: 30px;
    }
    strong{
        margin-left: 20px;
        line-height: 35px;
    }
</style>


<div class="search_box" style="margin-left: 2%;">
    <div class="titleDiv">
        <!--类型（1 推荐位规则说明，2 广播交友说明, 3 邀请大作战规则 ，4 奖励秘籍，5 实名认证协议，6 实名认证说明 7 5星好评送金币 8 优优使用手册 9 用户协议 10 公众号送优币 11 提现规则 12 财富等级说明 13 魅力等级说明 ）-->
        <div id="titleDivU1" class="titleItem titleItemCk" onclick="Agreement.titleClick('titleDivU1',1)">推荐位规则说明</div>
        <div id="titleDivU2" class="titleItem " onclick="Agreement.titleClick('titleDivU2',2)">广播交友说明</div>
        <div id="titleDivU3" class="titleItem" onclick="Agreement.titleClick('titleDivU3',3)">邀请大作战规则</div>
        <div id="titleDivU4" class="titleItem" onclick="Agreement.titleClick('titleDivU4',4)">奖励秘籍</div>
        <div id="titleDivU5" class="titleItem" onclick="Agreement.titleClick('titleDivU5',5)">实名认证协议</div>
        <div id="titleDivU6" class="titleItem" onclick="Agreement.titleClick('titleDivU6',6)">实名认证说明</div>
        <div id="titleDivU7" class="titleItem" onclick="Agreement.titleClick('titleDivU7',7)">5星好评送金币</div>
        <div id="titleDivU8" class="titleItem" onclick="Agreement.titleClick('titleDivU8',8)">优优使用手册</div>
        <div id="titleDivU9" class="titleItem" onclick="Agreement.titleClick('titleDivU9',9)">用户协议</div>
        <div id="titleDivU10" class="titleItem" onclick="Agreement.titleClick('titleDivU10',10)">公众号送优币</div>
        <div id="titleDivU11" class="titleItem" onclick="Agreement.titleClick('titleDivU11',11)">提现规则</div>
        <div id="titleDivU12" class="titleItem" onclick="Agreement.titleClick('titleDivU12',12)">财富等级说明</div>
        <div id="titleDivU13" class="titleItem" onclick="Agreement.titleClick('titleDivU13',13)">魅力等级说明</div>
        <div id="titleDivU14" class="titleItem" onclick="Agreement.titleClick('titleDivU14',14)">帮助</div>
        <div id="titleDivU15" class="titleItem" onclick="Agreement.titleClick('titleDivU15',15)">关于优优</div>
        <div id="titleDivU16" class="titleItem" onclick="Agreement.titleClick('titleDivU16',16)">联系官方</div>
    </div>
    <!--推荐位规则说明-->
    <div class="ibox float-e-margins" id="titleDivU1Form">
        <div class="ibox-content">
            <div class="form-horizontal" id="form1">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">推荐位规则说明</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_1" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(1)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--广播交友说明-->
    <div class="ibox float-e-margins" id="titleDivU2Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form2">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">广播交友说明</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_2" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(2)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--邀请大作战规则-->
    <div class="ibox float-e-margins" id="titleDivU3Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form3">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">邀请大作战规则</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_3" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(3)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--奖励秘籍-->
    <div class="ibox float-e-margins" id="titleDivU4Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form4">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">奖励秘籍</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_4" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(4)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--实名认证协议-->
    <div class="ibox float-e-margins" id="titleDivU5Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form5">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">实名认证协议</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_5" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(5)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--实名认证说明-->
    <div class="ibox float-e-margins" id="titleDivU6Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form6">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">实名认证说明</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_6" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(6)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--5星好评送金币-->
    <div class="ibox float-e-margins" id="titleDivU7Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form7">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">5星好评送金币</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_7" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(7)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--优优使用手册-->
    <div class="ibox float-e-margins" id="titleDivU8Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form8">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">优优使用手册</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_8" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(8)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--用户协议-->
    <div class="ibox float-e-margins" id="titleDivU9Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form9">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">用户协议</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_9" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(9)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--公众号送优币-->
    <div class="ibox float-e-margins" id="titleDivU10Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form10">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">公众号送优币</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_10" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(10)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--提现规则-->
    <div class="ibox float-e-margins" id="titleDivU11Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form11">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">公众号送优币</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_11" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(11)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--财富等级说明-->
    <div class="ibox float-e-margins" id="titleDivU12Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form12">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">财富等级说明</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_12" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(12)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--魅力等级说明-->
    <div class="ibox float-e-margins" id="titleDivU13Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form13">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">魅力等级说明</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_13" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(13)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--帮助-->
    <div class="ibox float-e-margins" id="titleDivU14Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form14">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">帮助</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_14" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(14)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--关于优优-->
    <div class="ibox float-e-margins" id="titleDivU15Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form15">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">关于优优</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_15" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(15)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--联系官方-->
    <div class="ibox float-e-margins" id="titleDivU16Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form16">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">联系官方</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <textarea id="editor_16" type="text/plain" style="width:1200px;height:400px;"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="Agreement.editSubmit(16)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<link type="text/css" rel="stylesheet" href="${ctxPath}/static/js/plugins/umeditor/themes/default/css/umeditor.css">
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/js/plugins/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/js/plugins/umeditor/umeditor.js"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/js/plugins/umeditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    var Agreement = {
    };

    /**
     * 点击获取数据
     */
    Agreement.titleClick=function(typeName,type){
        //重置
        //this.resetSearch();
        for(var i=1;i<=16;i++){
            $("#titleDivU"+i+"").removeClass("titleItemCk");
            $("#titleDivU"+i+"Form").hide();
        }
        $("#"+typeName).addClass("titleItemCk");
        $("#"+typeName+"Form").show();
        $.ajax({
            type: "post",
            url: Feng.ctxPath + "/setInfo/getHtmlContentById",
            async: false,
            data: {"type": type},
            success: function (data) {
                if(type==1){
                    editor_1.setContent(data.content);
                }else if(type==2){
                    editor_2.setContent(data.content);
                }else if(type==3){
                    editor_3.setContent(data.content);
                }else if(type==4){
                    editor_4.setContent(data.content);
                }else if(type==5){
                    editor_5.setContent(data.content);
                }else if(type==6){
                    editor_6.setContent(data.content);
                }else if(type==7){
                    editor_7.setContent(data.content);
                }else if(type==8){
                    editor_8.setContent(data.content);
                }else if(type==9){
                    editor_9.setContent(data.content);
                }else if(type==10){
                    editor_10.setContent(data.content);
                }else if(type==11){
                    editor_11.setContent(data.content);
                }else if(type==12){
                    editor_12.setContent(data.content);
                }else if(type==13){
                    editor_13.setContent(data.content);
                }else if(type==14){
                    editor_14.setContent(data.content);
                }else if(type==15){
                    editor_15.setContent(data.content);
                }else if(type==16){
                    editor_16.setContent(data.content);
                }
            }
        });
    }

    Agreement.editSubmit = function(type) {
    var content="";
        if(type==1){
            content=editor_1.getContent();
        }else if(type==2){
            content=editor_2.getContent();
        }else if(type==3){
            content=editor_3.getContent();
        }else if(type==4){
            content=editor_4.getContent();
        }else if(type==5){
            content=editor_5.getContent();
        }else if(type==6){
            content=editor_6.getContent();
        }else if(type==7){
            content=editor_7.getContent();
        }else if(type==8){
            content=editor_8.getContent();
        }else if(type==9){
            content=editor_9.getContent();
        }else if(type==10){
            content=editor_10.getContent();
        }else if(type==11){
            content=editor_11.getContent();
        }else if(type==12){
            content=editor_12.getContent();
        }else if(type==13){
            content=editor_13.getContent();
        }else if(type==14){
            content=editor_14.getContent();
        }else if(type==15){
            content=editor_15.getContent();
        }else if(type==16){
            content=editor_16.getContent();
        }
        //提交信息
        var ajax = new $ax(Feng.ctxPath + "/setInfo/updateHtml", function(data){
            Feng.success("编辑成功!");
        },function(data){
            Feng.error("编辑失败!" + data.responseJSON.message + "!");
        });
        ajax.set("id",type);
        ajax.set("content", content);
        ajax.start();
    }

    var editor_1 = null;
    var editor_2 = null;
    var editor_3 = null;
    var editor_4 = null;
    var editor_5 = null;
    var editor_6 = null;
    var editor_7 = null;
    var editor_8 = null;
    var editor_9 = null;
    var editor_10 = null;
    var editor_11 = null;
    var editor_12 = null;
    var editor_13 = null;
    var editor_14 = null;
    var editor_15 = null;
    var editor_16 = null;
    $(function () {
        //初始化编辑器
        editor_1 = UM.getEditor('editor_1');
        editor_2 = UM.getEditor('editor_2');
        editor_3 = UM.getEditor('editor_3');
        editor_4 = UM.getEditor('editor_4');
        editor_5 = UM.getEditor('editor_5');
        editor_6 = UM.getEditor('editor_6');
        editor_7 = UM.getEditor('editor_7');
        editor_8 = UM.getEditor('editor_8');
        editor_9 = UM.getEditor('editor_9');
        editor_10 = UM.getEditor('editor_10');
        editor_11 = UM.getEditor('editor_11');
        editor_12 = UM.getEditor('editor_12');
        editor_13 = UM.getEditor('editor_13');
        editor_14 = UM.getEditor('editor_14');
        editor_15 = UM.getEditor('editor_15');
        editor_16 = UM.getEditor('editor_16');

        Agreement.titleClick('titleDivU1',1);
    });
</script>
@}
