@layout("/common/_container.html"){
<style>
    .titleItem {
        float: left;
        text-align: center;
        width: 180px;
        line-height: 40px;
        border-top: 1px solid #E7EBEE;
        border-bottom: 1px solid #E7EBEE;
        border-left: 1px solid #E7EBEE;
        font-size: 16px;
    }
    .titleDiv {
        overflow: hidden;
    }
    .titleItemCk {
        color: #fff !important;
        background: #1AB395 !important;
    }
    .titleItem:last-child {
        border-right: 1px solid #E7EBEE;
    }
    .panel-body input {width: 70px;}
    /*.nav > li.active {
        border-left: 2px solid #19aa8d;
        background: #19aa8d;
    }*/
    p span{
        color: red;
        padding-right: 7px;
    }
    input{
        border: 1px solid #e5e6e7;
    }
    select{
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        padding: 6px 12px;
        -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        font-size: 14px;
    }
    p{
        line-height: 30px;
    }
    strong{
        margin-left: 20px;
        line-height: 35px;
    }
</style>
<div class="search_box" style="margin-left: 2%;">
    <div class="titleDiv">
        <div id="titleDivU1" class="titleItem titleItemCk" onclick="SetInfoInfoDlg.titleClick('titleDivU1',1)">优币奖励</div>
        <div id="titleDivU2" class="titleItem " onclick="SetInfoInfoDlg.titleClick('titleDivU2',2)">礼物/宝箱设置</div>
        <div id="titleDivU3" class="titleItem" onclick="SetInfoInfoDlg.titleClick('titleDivU3',3)">分享赠送</div>
        <div id="titleDivU4" class="titleItem" onclick="SetInfoInfoDlg.titleClick('titleDivU4',4)">速配/认证/语句设置</div>
        <div id="titleDivU5" class="titleItem" onclick="SetInfoInfoDlg.titleClick('titleDivU5',5)">等级管理</div>
        <div id="titleDivU6" class="titleItem" onclick="SetInfoInfoDlg.titleClick('titleDivU6',6)">提现设置</div>
        <div id="titleDivU7" class="titleItem" onclick="SetInfoInfoDlg.titleClick('titleDivU7',7)">充值设置</div>
        <div id="titleDivU8" class="titleItem" onclick="SetInfoInfoDlg.titleClick('titleDivU8',8)">分成设置</div>
    </div>
    <!--优币奖励-->
    <div class="ibox float-e-margins" id="titleDivU1Form">
        <div class="ibox-content">
            <div class="form-horizontal" id="form1">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">签到赠送优币</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <p><span>*</span>连续签到第1日可获得 <input type="text" id="award1"> 优币</p>
                        <p><span>*</span>连续签到第2日可获得 <input type="text" id="award2"> 优币</p>
                        <p><span>*</span>连续签到第3日可获得 <input type="text" id="award3"> 优币</p>
                        <p><span>*</span>连续签到第4日可获得 <input type="text" id="award4"> 优币</p>
                        <p><span>*</span>连续签到第5日可获得 <input type="text" id="award5"> 优币</p>
                        <p><span>*</span>连续签到第6日可获得 <input type="text" id="award6"> 优币</p>
                        <p><span>*</span>连续签到第7日可获得 <input type="text" id="award7"> 优币</p>
                    </div>
                </div>
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">优钻兑换优币奖励</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <p><span>*</span>单次兑换达到
                            <input type="text" id="award8_x">优币额外爆优币，单次兑换达到
                            <input type="text" id="award8_y">优币额外爆座驾
                        </p>
                        <p><span>*</span>额外爆优币范围值
                            <input type="text" id="award9_x">优币至
                            <input type="text" id="award9_y">优币
                        </p>
                        <p><span>*</span>额外爆座驾价值范围
                            <input type="text" id="award10_x">优币至
                            <input type="text" id="award10_y">优币
                        </p>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="SetInfoInfoDlg.editSubmit(1)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--礼物/宝箱设置-->
    <div class="ibox float-e-margins" id="titleDivU2Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form2">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">礼物设置</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <p><span>*</span>
                            <input type="text" id="gift1">天内添加的礼物有新礼物标识
                        </p>
                        <p><span>*</span>售卖礼物天数低于
                            <input type="text" id="gift2">天时,有限时礼物标识
                        </p>
                        <p><span>*</span>优币值低于
                            <input type="text" id="gift3">优币为低价值礼物，房主可以屏蔽他的特效显示
                        </p>
                        <p><span>*</span>送礼/开宝箱达到
                            <input type="text" id="gift4">优币通知所有房间
                        </p>
                    </div>
                </div>
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">宝箱设置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <pan style="font-weight: normal;font-size: 12px">请设置宝箱奖品，至少设置头等奖及爆率~</pan>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <p><span>*</span>开宝箱1次需要花费 <input type="text" id="gift5"> 优币，开宝箱10次需要花费 <input type="text" id="gift6"> 优币，开宝箱100次需要花费 <input type="text" id="gift7"> 优币。</p>
                        <p><span>*</span>头等奖奖品为：
                            <select id="box2_x" onchange="SetInfoInfoDlg.selectBox(this)">
                                <option value="">请选择</option>
                                <option value="2">道具头环</option>
                                <option value="1">道具座驾</option>
                                <option value="3">礼物</option>
                            </select>
                            <select  id="box2_y" style="width: 150px">
                                <option value="">请选择具体奖品</option>
                            </select>
                            爆率为： <input type="text" id="box2_z"> %
                        </p>
                        <p><span></span>二等奖品为：
                            <select id="box3_x" onchange="SetInfoInfoDlg.selectBox(this)">
                                <option value="">请选择</option>
                                <option value="2">道具头环</option>
                                <option value="1">道具座驾</option>
                                <option value="3">礼物</option>
                            </select>
                            <select id="box3_y" style="width: 150px">
                                <option value="">请选择具体奖品</option>
                            </select>
                            爆率为： <input type="text" id="box3_z"> %
                        </p>
                        <p><span></span>三等奖品为：
                            <select id="box4_x" onchange="SetInfoInfoDlg.selectBox(this)">
                                <option value="">请选择</option>
                                <option value="2">道具头环</option>
                                <option value="1">道具座驾</option>
                                <option value="3">礼物</option>
                            </select>
                            <select id="box4_y" style="width: 150px">
                                <option value="">请选择具体奖品</option>
                            </select>
                            爆率为： <input type="text" id="box4_z"> %
                        </p>
                        <p><span></span>四等奖品为：
                            <select id="box5_x" onchange="SetInfoInfoDlg.selectBox(this)">
                                <option value="">请选择</option>
                                <option value="2">道具头环</option>
                                <option value="1">道具座驾</option>
                                <option value="3">礼物</option>
                            </select>
                            <select id="box5_y" style="width: 150px">
                                <option value="">请选择具体奖品</option>
                            </select>
                            爆率为： <input type="text" id="box5_z"> %
                        </p>
                        <p><span></span>五等奖品为：
                            <select id="box6_x" onchange="SetInfoInfoDlg.selectBox(this)">
                                <option value="">请选择</option>
                                <option value="2">道具头环</option>
                                <option value="1">道具座驾</option>
                                <option value="3">礼物</option>
                            </select>
                            <select id="box6_y" style="width: 150px">
                                <option value="">请选择具体奖品</option>
                            </select>
                            爆率为： <input type="text" id="box6_z"> %
                        </p>
                        <p><span></span>六等奖品为：
                            <select id="box8_x" onchange="SetInfoInfoDlg.selectBox(this)">
                                <option value="">请选择</option>
                                <option value="2">道具头环</option>
                                <option value="1">道具座驾</option>
                                <option value="3">礼物</option>
                            </select>
                            <select id="box8_y" style="width: 150px">
                                <option value="">请选择具体奖品</option>
                            </select>
                            爆率为： <input type="text" id="box8_z"> %
                        </p>
                        <p><span></span>七等奖品为：
                            <select id="box9_x" onchange="SetInfoInfoDlg.selectBox(this)">
                                <option value="">请选择</option>
                                <option value="2">道具头环</option>
                                <option value="1">道具座驾</option>
                                <option value="3">礼物</option>
                            </select>
                            <select id="box9_y" style="width: 150px">
                                <option value="">请选择具体奖品</option>
                            </select>
                            爆率为： <input type="text" id="box9_z"> %
                        </p>
                        <p><span></span>八等奖品为：
                            <select id="box10_x" onchange="SetInfoInfoDlg.selectBox(this)">
                                <option value="">请选择</option>
                                <option value="2">道具头环</option>
                                <option value="1">道具座驾</option>
                                <option value="3">礼物</option>
                            </select>
                            <select id="box10_y" style="width: 150px">
                                <option value="">请选择具体奖品</option>
                            </select>
                            爆率为： <input type="text" id="box10_z"> %
                        </p>
                        <p><span></span>九等奖品为：
                            <select id="box11_x" onchange="SetInfoInfoDlg.selectBox(this)">
                                <option value="">请选择</option>
                                <option value="2">道具头环</option>
                                <option value="1">道具座驾</option>
                                <option value="3">礼物</option>
                            </select>
                            <select id="box11_y" style="width: 150px">
                                <option value="">请选择具体奖品</option>
                            </select>
                            爆率为： <input type="text" id="box11_z"> %
                        </p>
                        <p><span></span>十等奖品为：
                            <select id="box12_x" onchange="SetInfoInfoDlg.selectBox(this)">
                                <option value="">请选择</option>
                                <option value="2">道具头环</option>
                                <option value="1">道具座驾</option>
                                <option value="3">礼物</option>
                            </select>
                            <select id="box12_y" style="width: 150px">
                                <option value="">请选择具体奖品</option>
                            </select>
                            爆率为： <input type="text" id="box12_z"> %
                        </p>
                        <p><span></span>奖品为空的爆率为 <input type="text" id="box7_z"> %</p>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="SetInfoInfoDlg.editSubmit(2)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--分享赠送-->
    <div class="ibox float-e-margins" id="titleDivU3Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form3">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">分享赠送</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <p><span>*</span>新用户注册赠送 <input type="text" id="share1"> 元</p>
                        <p><span>*</span>分享一次赠送 <input type="text" id="share2_x"> 元到<input type="text" id="share2_y">元，取随机数</p>
                        <p><span>*</span>分享的用户充值 <input type="text" id="share3_x" value="0" hidden> ，分享者可分成<input type="text" id="share3_y">%</p>
                        <p><span>*</span>分享满 <input type="text" id="share4"> 元可提现分享所得金额</p>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="SetInfoInfoDlg.editSubmit(3)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--速配认证-->
    <div class="ibox float-e-margins" id="titleDivU4Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form4">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">速配人数设置</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <p><span>*</span>速配每次随机出现 <input type="text" id="speed1">位用户 </p>
                    </div>
                </div>
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">实名认证设置</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <p><span>*</span>是否开启实名认证接口
                            <input type="radio" name="speed2" checked value="1">是
                            <input type="radio" name="speed2" value="2">否 </p>
                    </div>
                </div>
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">优优房间内官方语句</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <p><span >*</span>输入优优房间内方言语句：<textarea type="text/plain" style="width:60%;height:200px;" id="speed3"></textarea>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="SetInfoInfoDlg.editSubmit(4)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--等级管理-->
    <div class="ibox float-e-margins" id="titleDivU5Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="gradeForm">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">财富等级</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-12">
                        <p><span>*</span>等级
                            <input type="text" id="cgrade1_x">到等级
                            <input type="text" id="cgrade1_y">，需要累计财富值
                            <input type="text" id="cgrade1_z">到
                            <input type="text" id="cgrade1_p">提升等级每级需要
                            <input type="text" id="cgrade1_b">财富值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="cgrade2_x">到等级
                            <input type="text" id="cgrade2_y">，需要累计财富值
                            <input type="text" id="cgrade2_z">到
                            <input type="text" id="cgrade2_p">提升等级每级需要
                            <input type="text" id="cgrade2_b">财富值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="cgrade3_x">到等级
                            <input type="text" id="cgrade3_y">，需要累计财富值
                            <input type="text" id="cgrade3_z">到
                            <input type="text" id="cgrade3_p">提升等级每级需要
                            <input type="text" id="cgrade3_b">财富值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="cgrade4_x">到等级
                            <input type="text" id="cgrade4_y">，需要累计财富值
                            <input type="text" id="cgrade4_z">到
                            <input type="text" id="cgrade4_p">提升等级每级需要
                            <input type="text" id="cgrade4_b">财富值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="cgrade5_x">到等级
                            <input type="text" id="cgrade5_y">，需要累计财富值
                            <input type="text" id="cgrade5_z">到
                            <input type="text" id="cgrade5_p">提升等级每级需要
                            <input type="text" id="cgrade5_b">财富值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="cgrade6_x">到等级
                            <input type="text" id="cgrade6_y">，需要累计财富值
                            <input type="text" id="cgrade6_z">到
                            <input type="text" id="cgrade6_p">提升等级每级需要
                            <input type="text" id="cgrade6_b">财富值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="cgrade7_x">到等级
                            <input type="text" id="cgrade7_y">，需要累计财富值
                            <input type="text" id="cgrade7_z">到
                            <input type="text" id="cgrade7_p">提升等级每级需要
                            <input type="text" id="cgrade7_b">财富值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="cgrade8_x">到等级
                            <input type="text" id="cgrade8_y">，需要累计财富值
                            <input type="text" id="cgrade8_z">到
                            <input type="text" id="cgrade8_p">提升等级每级需要
                            <input type="text" id="cgrade8_b">财富值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="cgrade9_x">到等级
                            <input type="text" id="cgrade9_y">，需要累计财富值
                            <input type="text" id="cgrade9_z">到
                            <input type="text" id="cgrade9_p">提升等级每级需要
                            <input type="text" id="cgrade9_b">财富值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="cgrade10_x">到等级
                            <input type="text" id="cgrade10_y">，需要累计财富值
                            <input type="text" id="cgrade10_z">到
                            <input type="text" id="cgrade10_p">提升等级每级需要
                            <input type="text" id="cgrade10_b">财富值
                        </p>
                    </div>
                </div>
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">魅力等级</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-12">
                        <p><span>*</span>等级
                            <input type="text" id="grade1_x">到等级
                            <input type="text" id="grade1_y">，需要累计魅力值
                            <input type="text" id="grade1_z">到
                            <input type="text" id="grade1_p">提升等级每级需要
                            <input type="text" id="grade1_b">魅力值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="grade2_x">到等级
                            <input type="text" id="grade2_y">，需要累计魅力值
                            <input type="text" id="grade2_z">到
                            <input type="text" id="grade2_p">提升等级每级需要
                            <input type="text" id="grade2_b">魅力值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="grade3_x">到等级
                            <input type="text" id="grade3_y">，需要累计魅力值
                            <input type="text" id="grade3_z">到
                            <input type="text" id="grade3_p">提升等级每级需要
                            <input type="text" id="grade3_b">魅力值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="grade4_x">到等级
                            <input type="text" id="grade4_y">，需要累计魅力值
                            <input type="text" id="grade4_z">到
                            <input type="text" id="grade4_p">提升等级每级需要
                            <input type="text" id="grade4_b">魅力值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="grade5_x">到等级
                            <input type="text" id="grade5_y">，需要累计魅力值
                            <input type="text" id="grade5_z">到
                            <input type="text" id="grade5_p">提升等级每级需要
                            <input type="text" id="grade5_b">魅力值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="grade6_x">到等级
                            <input type="text" id="grade6_y">，需要累计魅力值
                            <input type="text" id="grade6_z">到
                            <input type="text" id="grade6_p">提升等级每级需要
                            <input type="text" id="grade6_b">魅力值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="grade7_x">到等级
                            <input type="text" id="grade7_y">，需要累计魅力值
                            <input type="text" id="grade7_z">到
                            <input type="text" id="grade7_p">提升等级每级需要
                            <input type="text" id="grade7_b">魅力值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="grade8_x">到等级
                            <input type="text" id="grade8_y">，需要累计魅力值
                            <input type="text" id="grade8_z">到
                            <input type="text" id="grade8_p">提升等级每级需要
                            <input type="text" id="grade8_b">魅力值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="grade9_x">到等级
                            <input type="text" id="grade9_y">，需要累计魅力值
                            <input type="text" id="grade9_z">到
                            <input type="text" id="grade9_p">提升等级每级需要
                            <input type="text" id="grade9_b">魅力值
                        </p>
                        <p><span>*</span>等级
                            <input type="text" id="grade10_x">到等级
                            <input type="text" id="grade10_y">，需要累计魅力值
                            <input type="text" id="grade10_z">到
                            <input type="text" id="grade10_p">提升等级每级需要
                            <input type="text" id="grade10_b">魅力值
                        </p>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="SetInfoInfoDlg.editSubmit(5)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--提现设置-->
    <div class="ibox float-e-margins" id="titleDivU6Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="withdrawForm">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">提现设置</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <p><span>*</span>提现 <input type="text" id="withdraw1_x">元需要消耗<input type="text" id="withdraw1_y">优钻 </p>
                        <p><span>*</span>提现 <input type="text" id="withdraw2_x">元需要消耗<input type="text" id="withdraw2_y">优钻 </p>
                        <p><span>*</span>提现 <input type="text" id="withdraw3_x">元需要消耗<input type="text" id="withdraw3_y">优钻 </p>
                        <p><span>*</span>提现 <input type="text" id="withdraw4_x">元需要消耗<input type="text" id="withdraw4_y">优钻 </p>
                        <p><span>*</span>提现 <input type="text" id="withdraw5_x">元需要消耗<input type="text" id="withdraw5_y">优钻 </p>
                        <p><span>*</span>提现 <input type="text" id="withdraw6_x">元需要消耗<input type="text" id="withdraw6_y">优钻 </p>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="SetInfoInfoDlg.editSubmit(6)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--充值设置-->
    <div class="ibox float-e-margins" id="titleDivU7Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="rechargeForm">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">充值设置</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <p><span>*</span>首次充值赠送 <input type="text" id="recharge0_x">优币</p>
                        <p><span>*</span>充值 <input type="text" id="recharge1_x">优币需要花费 <input type="text" id="recharge1_y">元</p>
                        <p><span>*</span>充值 <input type="text" id="recharge2_x">优币需要花费 <input type="text" id="recharge2_y">元</p>
                        <p><span>*</span>充值 <input type="text" id="recharge3_x">优币需要花费 <input type="text" id="recharge3_y">元</p>
                        <p><span>*</span>充值 <input type="text" id="recharge4_x">优币需要花费 <input type="text" id="recharge4_y">元</p>
                        <p><span>*</span>充值 <input type="text" id="recharge5_x">优币需要花费 <input type="text" id="recharge5_y">元</p>
                        <p><span>*</span>充值 <input type="text" id="recharge6_x">优币需要花费 <input type="text" id="recharge6_y">元</p>
                        <p><span>*</span>充值 <input type="text" id="recharge7_x">优币需要花费 <input type="text" id="recharge7_y">元</p>
                        <p><span>*</span>充值 <input type="text" id="recharge8_x">优币需要花费 <input type="text" id="recharge8_y">元</p>


                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="SetInfoInfoDlg.editSubmit(7)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--分成设置-->
    <div class="ibox float-e-margins" id="titleDivU8Form" hidden>
        <div class="ibox-content">
            <div class="form-horizontal" id="form8">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">分成设置</div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-8">
                        <p><span>*</span>礼物分成比例：<input type="text" id="liang1">%</p>
                        <p><span>*</span>礼物的厅主分成（低于10000）：<input type="text" id="liang6">%</p>
                        <p><span>*</span>礼物的厅主分成（10000-19999）：<input type="text" id="liang7">%</p>
                        <p><span>*</span>礼物的厅主分成（20000-29999）：<input type="text" id="liang8">%</p>
                        <p><span>*</span>礼物的厅主分成（30000-39999）：<input type="text" id="liang9">%</p>
                        <p><span>*</span>礼物的厅主分成（40000-49999）：<input type="text" id="liang10">%</p>
                        <p><span>*</span>礼物的厅主分成（50000-59999）：<input type="text" id="liang11">%</p>
                        <p><span>*</span>礼物的厅主分成（高于60000）：<input type="text" id="liang12">%</p>
                        <p><span>*</span>红包平台分成比例：<input type="text" id="liang2">%</p>
                        <p><span>*</span>红包厅主分成比例：<input type="text" id="liang3">%</p>
                        <p><span>*</span>开宝箱平台分成比例：<input type="text" id="liang4">%</p>
                        <p><span>*</span>开宝箱厅主分成比例：<input type="text" id="liang5">%</p>
                    </div>
                </div>
                <div class="row btn-group-m-t">
                    <div class="col-sm-10">
                        <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="SetInfoInfoDlg.editSubmit(8)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="${ctxPath}/static/modular/system/setInfo/setInfo_info.js"></script>
@}
