@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="paramName" name="参数名"/>
                    <#input id="keyStr" name="键值"/>
                    <#input id="valueStr" name="参数值"/>
                </div>

                <div class="col-sm-6">
                    <#input id="remark" name="备注说明"/>
                    <#input id="key1" name="扩展字段"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10 col-sm-offset-5">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SetInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SetInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/setInfo/setInfo_info.js"></script>
@}
