@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>系统消息管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MessageInfo.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MessageInfoTableToolbar" role="group">
                            @if(shiro.hasPermission("/messageInfo/add")){
                                <#button name="添加" icon="fa-plus" clickFun="MessageInfo.openAddMessageInfo()"/>
                            @}
                            @if(shiro.hasPermission("/messageInfo/update")){
                                <#button name="修改" icon="fa-edit" clickFun="MessageInfo.openMessageInfoDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/messageInfo/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="MessageInfo.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="MessageInfoTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/messageInfo/messageInfo.js"></script>
@}
