@layout("/common/_container.html"){
<style>
    .titleItem {
        float: left;
        text-align: center;
        width: 200px;
        line-height: 40px;
        border-top: 1px solid #E7EBEE;
        border-bottom: 1px solid #E7EBEE;
        border-left: 1px solid #E7EBEE;
        font-size: 16px;
    }
    .titleDiv {
        overflow: hidden;
    }
    .titleItemCk {
        color: #fff !important;
        background: #1AB395 !important;
    }
    .titleItem:last-child {
        border-right: 1px solid #E7EBEE;
    }
</style>
<div class="search_box" style="margin-left: 2%;">
    <div class="titleDiv">
        <input type="hidden" value="${rid}" id="rid">
        @if(appAuctions!=null){
            @for(item in appAuctions){
            <div id="titleDivU${item.ranks}" class="titleItem  ${item.ranks==1 ? 'titleItemCk' : ''}"
                 onclick="AppRoom.titleClick5('titleDivU${item.ranks}','${item.id}','${size}')" name="${item.id}">
                <label>竞拍时间：</label>
                <label>${item.staTime_}至${item.endTime_}</label>
            </div>
            @}
        @}
    </div>
    <div id="container">
        <div id="tab" class="tab-pane">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row row-lg">
                                <div class="col-sm-12">
                                    <#table id="AppRoomTable"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appRoom/appAuction_list.js"></script>
@}
