@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="horizontalForm">

            <input type="hidden" id="id" value="${id}">
            <input type="hidden" id="type_" value="${type_}">

            <div class="row">
                <div class="col-sm-8">
                    @if(type_==1){
                    <!--设为推荐-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">推荐到</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="type" name="type">
                                <option value="1">热门</option>
                                <option value="2">女神</option>
                                <option value="3">男神</option>
                                <option value="4">娱乐</option>
                                <option value="5">听歌</option>
                                <option value="6">相亲</option>
                                <option value="7">电台</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <#input id="sequence" name="排序"/>
                    @}
                    @if(type_==2){
                    <!--分配协议号-->
                    <#input id="protocolNum" name="分配数量"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">设置分配天数</label>
                        <div class="col-sm-9">
                            <div class="col-sm-8">
                                <input type="radio" name="days" checked value="0">有限时间
                                <input type="radio" name="days" value="-1">长期
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="dayDiv">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="col-sm-8">
                                <div class="col-sm-8">
                                    <input class="form-control" id="days_" name="day">
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">天</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @}
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppRoomInfoDlg.editSubmit_()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppRoomInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appRoom/appRoom_info.js"></script>
@}
