@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <input id="rid" value="${rid}" type="hidden">
            <input id="id" value="${id}" type="hidden">
            <input id="uid" value="${uid}" type="hidden">
            <#table id="AppRoomTable"/>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appRoom/appRoom_auctionRecord.js"></script>
@}
