@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="createTime" name="" underline="true"/>
                            <#input id="roomName" name="房间名称" underline="true"/>
                            <#input id="uid" name="" underline="true"/>
                            <#input id="rid" name="房间id" underline="true"/>
                            <#input id="name" name="房主昵称" underline="true"/>
                            <#input id="lineNum" name="在线人数" underline="true"/>
                            <#input id="password" name="房间密码" underline="true"/>
                            <#input id="roomLabel" name="房间标签" underline="true"/>
                            <#input id="roomCount" name="房间话题内容" underline="true"/>
                            <#input id="roomTopic" name="房间话题" underline="true"/>
                            <#input id="roomHint" name="房间提示"/>
                </div>

                <div class="col-sm-6">
                            <#input id="protocolNum" name="协议号数" underline="true"/>
                            <#input id="state" name="是否牌子房间 1否，2是" underline="true"/>
                            <#input id="status" name="是否有效 1有效，2无效" underline="true"/>
                            <#input id="sequence" name="顺序" underline="true"/>
                            <#input id="type" name="1是热门，2是女神，3是男神，4娱乐，5听歌，6相亲，7电台" underline="true"/>
                            <#input id="isDelete" name="是否被删除（1=否  2=是）" underline="true"/>
                            <#input id="bjImg" name="背景图片" underline="true"/>
                            <#input id="isState" name="是否开启屏蔽低礼物特效 1否， 2是" underline="true"/>
                            <#input id="isPk" name="是否开启pk 1是未，2 是开启" underline="true"/>
                            <#input id="isJp" name="是否开启竞拍 1是未，2 是开启" underline="true"/>
                            <#input id="isGp" name="1  开启， 2 关闭" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppRoomInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppRoomInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appRoom/appRoom_info.js"></script>
@}
