@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">
            <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">房间详情</div>
            <div class="row" style="line-height: 1px;padding-top: 20px">
                <div class="col-sm-8">
                    <#label id="roomName" name="房间名称" value="${item.roomName}" underline="true"/>
                    <#label id="rid" name="房间ID" value="${item.rid}" underline="true"/>
                    <#label id="name" name="房主昵称" value="${item.name}" underline="true"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户头像</label>
                        <div class="col-sm-9">
                            @if(appUser.imgTx!=null && appUser.imgTx!=''){
                                <img width="80px" height="80px" src="${appUser.imgTx}" class="img-circle"/>
                            @}
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <#label id="lineNum" name="在线人数" value="${item.lineNum}" underline="true"/>
                    <#label id="password" name="房间密码" value="${item.password}" underline="true"/>
                    <#label id="roomLabel" name="房间标签" value="${item.roomLabel}" underline="true" style="text-align: left;"/>
                    <#label id="roomTopic" name="房间话题" value="${item.roomTopic}" underline="true" style="text-align: left;"/>
                    <#label id="roomCount" name="房间话题内容" value="${item.roomCount}" underline="true" style="text-align: left;"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">背景图片</label>
                        <div class="col-sm-9">
                            @if(item.bjImg!=null && item.bjImg!=''){
                                <img width="80px" height="80px" src="${item.bjImg}"/>
                            @}
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <#label id="id" name="协议号数量" value="${item.protocolNum}" underline="true"/>
                    <#label id="state" name="是否为牌照房间" value="${item.state==1?'否':'是'}" underline="true"/>
                    <#label id="isRecommend" name="是否推荐" value="${item.isRecommend==1?'否':'是'}" underline="true"/>
                    @if(item.isRecommend ==2 ){
                        <#label id="typeName" name="推荐到" value="${typeName}" underline="true"/>
                        <#label id="sequence" name="排序" value="${item.sequence}" underline="true"/>
                    @}
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appRoom/appRoom_info.js"></script>
@}
