@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>房间管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="roomName" name="房间名称" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="name" name="房主呢称" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="rid" name="房间ID" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#SelectCon id="state" name="是否设为牌照房间" >
                                <option value="">全部</option>
                                <option value="1">否</option>
                                <option value="2">是</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="status" name="状态" >
                                <option value="">全部</option>
                                <option value="1">有效</option>
                                <option value="2">禁用</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppRoom.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppRoom.resetSearch()"/>
                            </div>
                    </div>
                        </div>
                        <div class="hidden-xs" id="AppRoomTableToolbar" role="group">
                            @if(shiro.hasPermission("/appRoom/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppRoom.openAddAppRoom()"/>
                            @}
                            @if(shiro.hasPermission("/appRoom/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppRoom.openAppRoomDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appRoom/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppRoom.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppRoomTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appRoom/appRoom.js"></script>
@}
