@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>报销管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Expense.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="ExpenseTableToolbar" role="group">
                            <#button name="新增报销单" icon="fa-plus" clickFun="Expense.openAddExpense()"/>
                        </div>
                        <#table id="ExpenseTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/flowable/expense/expense.js"></script>
@}
