@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Android版本控制管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!--<div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppAndroidVersions.search()"/>
                            </div>
                        </div>-->
                        <div class="hidden-xs" id="AppAndroidVersionsTableToolbar" role="group">
                            @if(shiro.hasPermission("/appAndroidVersions/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppAndroidVersions.openAddAppAndroidVersions()"/>
                            @}
                            @if(shiro.hasPermission("/appAndroidVersions/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppAndroidVersions.openAppAndroidVersionsDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appAndroidVersions/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppAndroidVersions.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppAndroidVersionsTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appAndroidVersions/appAndroidVersions.js"></script>
@}
