@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content" id="horizontalForm">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">

                <div class="col-sm-12">
                    <#input id="versions" name="版本号" underline="true"  value="${item.versions}"/>
                    <#input id="url" name="版本链接" underline="true" value="${item.url}"/>
                    <#input id="mark" name="版本描述" underline="true" value="${item.mark}"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否强制更新</label>
                        <div class="col-sm-9">
                            <input type="radio" name="state" value="1"  ${item.state ==1?"checked":""}>否&nbsp;&nbsp;
                            <input type="radio" name="state" value="2"  ${item.state ==2?"checked":""}>是
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppAndroidVersionsInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppAndroidVersionsInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appAndroidVersions/appAndroidVersions_info.js"></script>
@}
