@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>栏位历史</h5>
                <input type="hidden" id="id" value="${id}"/>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="rid" name="展示房间ID" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="nickName" name="用户昵称" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>

                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppRecommend.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppRecommend.resetSearch()"/>
                            </div>
                        </div>
                        <#table id="AppRecommendTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appRecommend/appRecommend_history.js"></script>
@}
