@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${id}">

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">房间ID</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="rid" name="rid" onkeyup="AppRecommendInfoDlg.changeRid(this)">
                        </div>
                    </div>
                    <#label id="name" name="房间名称：" />
                    <#label id="nickName" name="房主昵称："/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppRecommendInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppRecommendInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appRecommend/appRecommend_info.js"></script>
@}
