@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="horizontalForm">

            <input type="hidden" id="id" value="">
            <input type="hidden" id="loginName" value=${shiro.getUser().account}>

            <div class="row">
                <div class="col-sm-8">
                    <#input id="gid" name="公会ID" readonly="readonly"/>
					<#SelectCon id="type" name="类型" >
						<option value="" disabled="true" selected = "selected">请选择</option>
						<option value="1">礼物</option>
						<option value="2">厅返利</option>
					</#SelectCon>
                    <#input id="beginDate" name="开始时间" readonly="readonly"/>
                    <#input id="endDate" name="结束时间" readonly="readonly"/>
                    <#input id="amountOfMoney" name="金额（元）" readonly="readonly"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppSettleTurnoverInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppSettleTurnoverInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appSettleTurnover/appSettleTurnover_info.js"></script>
@}
