@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>结算记录</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                        	<div class="col-sm-2">
                        		<#input id="guildId" name="" value="${shiro.getUser().account}" disabled="disabled" />
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="beginDate" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="endDate" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <!-- <div class="col-sm-2">
                                <#NameCon id="name" name="消费用户" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="eid" name="优优ID" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="rid" name="房间ID" />
                            </div> -->
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppSettleTurnover.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppSettleTurnover.resetSearch()"/>
                            </div>
                        </div>
                        <div class="row">
                        	<div class="col-sm-3">
                                <#button name="申请结算" icon="fa-file" clickFun="AppSettleTurnover.openAddSettlePage()"/>
                            </div>
                        </div>
                        <!-- <div class="hidden-xs" id="AppSettleTurnoverTableToolbar" role="group">
                            <#button name="导出" icon="fa-download" clickFun="AppSettleTurnover.export()" space="true"/>
                        </div> -->
                        <#table id="AppSettleTurnoverTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appSettleTurnover/appSettleTurnover.js"></script>
@}
