@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="horizontalForm">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-8">
                    <#input id="name" name="背景图名称" value="${item.name}"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">背景图</label>
                        <div class="col-sm-9">
                            <#uploadImg id="img" fileImg="${item.img}"/>
                        </div>
                    </div>
                    <#input id="sequence" name="顺序" value="${item.sequence}"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppBackdropInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppBackdropInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appBackdrop/appBackdrop_info.js"></script>
@}
