@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>房间背景图管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="name" name="背景图名称" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="state" name="状态" >
                                <option value="">全部</option>
                                <option value="1">有效</option>
                                <option value="2">禁用</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>

                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppBackdrop.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppBackdrop.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppBackdropTableToolbar" role="group">
                            @if(shiro.hasPermission("/appBackdrop/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppBackdrop.openAddAppBackdrop()"/>
                            @}
                            @if(shiro.hasPermission("/appBackdrop/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppBackdrop.openAppBackdropDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appUser/freeze")){
                            <#button name="禁用" icon="fa-plus" clickFun="AppBackdrop.isFreeze(2)" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appUser/unfreeze")){
                            <#button name="解禁" icon="fa-edit" clickFun="AppBackdrop.isFreeze(1)" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appBackdrop/delete")){
                            <#button name="删除" icon="fa-remove" clickFun="AppBackdrop.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppBackdropTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appBackdrop/appBackdrop.js"></script>
@}
