@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>推荐申请记录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="rid" name="申请房间ID" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="nickName" name="申请人昵称" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="sequence" name="排号" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>

                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppClaimer.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppClaimer.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppClaimerTableToolbar" role="group">
                            <#button name="删除" icon="fa-remove" clickFun="AppClaimer.delete()" space="true"/>
                        </div>
                        <#table id="AppClaimerTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appClaimer/appClaimer.js"></script>
@}
