@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>分组信息</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                        	<div class="col-sm-3">
                        		<#input id="groupId" name="" value="${shiro.getUser().account}" disabled="disabled" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="groupName" name="公会名" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppGuildGroup.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppGuildGroup.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppGuildGroupTableToolbar" role="group">
                        	<#button name="添加" icon="fa-plus" clickFun="AppGuildGroup.openAddAppGuildGroup()"/>
                            <#button name="删除" icon="fa-remove" clickFun="AppGuildGroup.delete()"/>
                        </div>
                        <#table id="appGuildGroupTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appGuildGroup/appGuildGroup.js"></script>
@}
