@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="horizontalForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-8">
                    <#input id="groupName" name="分组名称"/>
                    <#input id="remarks" name="备注说明"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppGuildGroupInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppGuildGroupInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appGuildGroup/appGuildGroup_info.js"></script>
@}
