@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-8">
                    <#input id="groupId" name="公会编号" value="${item.groupId}" readonly="readonly"/>
                    <#input id="groupName" name="分组名称" value="${item.groupName}"/>
                    <#input id="remarks" name="备注说明" value="${item.remarks}"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                	<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppGuildGroupInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppGuildGroupInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appGuildGroup/appGuildGroup_info.js"></script>
@}
