@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>道具管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="name" name="道具名称" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="state" name="类型" >
                                <option value="">全部</option>
                                <option value="1">座驾</option>
                                <option value="2">头环</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="isState" name="状态" >
                                <option value="">全部</option>
                                <option value="1">销售中</option>
                                <option value="2">已下架</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="上架开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="上架结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppScene.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppScene.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppSceneTableToolbar" role="group">
                            @if(shiro.hasPermission("/appScene/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppScene.openAddAppScene()"/>
                            @}
                            @if(shiro.hasPermission("/appScene/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppScene.openAppSceneDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appScene/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppScene.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppSceneTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appScene/appScene.js"></script>
@}
