@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>成员列表</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                        	<!-- <div class="col-sm-3">
                                <#SelectCon id="status" name="分组" >
                                <option value="">全部</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                </#SelectCon>
                            </div> -->
                            <div class="col-sm-3">
                                <#NameCon id="usercoding" name="优优ID" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="phone" name="手机号" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="nickname" name="昵称" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppGuild.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppGuild.resetSearch()"/>
                            </div>
                        </div>
                        <!-- <div class="hidden-xs" id="AppFeedbackTableToolbar" role="group">
                        	<#button name="批量设置分组" icon="fa-file-text" clickFun="AppGuild.batchAdd()"/>
                        </div> -->
                        <!-- <div class="hidden-xs" id="AppFeedbackTableToolbar" role="group">
                            @if(shiro.hasPermission("/appFeedback/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppFeedback.openAddAppFeedback()"/>
                            @}
                            @if(shiro.hasPermission("/appFeedback/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppFeedback.openAppFeedbackDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appFeedback/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppFeedback.delete()" space="true"/>
                            @}
                        </div> -->
                        <#table id="appGuildTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appGuild/appGuild.js"></script>
@}
