@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>优币充值管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="name" name="充值用户" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="eid" name="优优ID" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppYbrecharge.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppYbrecharge.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppYbrechargeTableToolbar" role="group">
                            @if(shiro.hasPermission("/appYbrecharge/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppYbrecharge.openAddAppYbrecharge()"/>
                            @}
                            @if(shiro.hasPermission("/appYbrecharge/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppYbrecharge.openAppYbrechargeDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appYbrecharge/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppYbrecharge.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appYbrecharge/export")){
                                <#button name="导出" icon="fa-download" clickFun="AppYbrecharge.export()" space="true"/>
                            @}

                        </div>
                        <#table id="AppYbrechargeTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appYbrecharge/appYbrecharge.js"></script>
@}
