@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="horizontalForm">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="eid_" value="0">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">优优ID</label>
                        <div class="col-sm-9">
                            <input class="form-control"  name="eid" id="eid" onblur="AppYbrechargeInfoDlg.checkEid(this)" value="${item.eid}">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <#input id="gmGold" name="充值优币" underline="true" value="${item.gmGold}"/>
                    <#input id="zsGold" name="赠送优币" underline="true" value="${item.zsGold}"/>
                    <#input id="play" name="支付金额" underline="true" value="${item.play}"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">类型</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="playState" name="playState">
                                <option value="4" ${item.playState == 4 ? 'selected' : ''}>公众号</option>
                                <option value="5" ${item.playState == 5 ? 'selected'}>手动添加</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppYbrechargeInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppYbrechargeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appYbrecharge/appYbrecharge_info.js"></script>
@}
