@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">

                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否通过</label>
                        <div class="col-sm-9">
                            <input type="radio" name="status" checked value="2">通过
                            <input type="radio" name="status" value="3">拒绝
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">提现金额</label>
                        <div class="col-sm-9">
                            <label id="money">${item.money}</label>
                        </div>
                    </div>
                    <div class="form-group" id="serialNumDiv">
                        <label class="col-sm-3 control-label">交易流水</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="serialNum" name="serialNum">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppWithdrawInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppWithdrawInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appWithdraw/appWithdraw_info.js"></script>
@}
