@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>提现管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="name" name="提现用户" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="eid" name="优优ID" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppWithdraw.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppWithdraw.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppWithdrawTableToolbar" role="group">
                            @if(shiro.hasPermission("/appWithdraw/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppWithdraw.openAddAppWithdraw()"/>
                            @}
                            @if(shiro.hasPermission("/appWithdraw/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppWithdraw.openAppWithdrawDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appWithdraw/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppWithdraw.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appWithdraw/export")){
                            <#button name="导出" icon="fa-download" clickFun="AppWithdraw.export()" space="true"/>
                            @}
                        </div>
                        <#table id="AppWithdrawTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appWithdraw/appWithdraw.js"></script>
@}
