@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>回款监控数据管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="nickName" name="用户姓名" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="phone" name="联系电话" />
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="type" name="监控类型" >
                                    <option value="-1">全部</option>
                                    <option value="1">支付宝</option>
                                    <option value="2">微信</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MonitorData.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MonitorDataTableToolbar" role="group">
                            @if(shiro.hasPermission("/monitorData/add")){
                                <#button name="添加" icon="fa-plus" clickFun="MonitorData.openAddMonitorData()"/>
                            @}
                            @if(shiro.hasPermission("/monitorData/update")){
                                <#button name="修改" icon="fa-edit" clickFun="MonitorData.openMonitorDataDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/monitorData/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="MonitorData.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="MonitorDataTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/monitorData/monitorData.js"></script>
@}
