@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="horizontalForm">

            <input type="hidden" id="id" value="${uid}">
            <input type="hidden" id="type_" value="${type_}">

            <div class="row">
                <div class="col-sm-8">
                    @if(type_==1){
                        <!--重置密码-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><label style="color: red;">*</label>&nbsp;&nbsp;重置密码</label>
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <input class="form-control" id="password" name="password" type="text">
                                </div>
                                <div class="col-sm-12">
                                    <label style="font-size: small;color: #b9b4b4;margin-top: 6px">注：修改之后客户只能使用此密码登录，请慎重重置！</label>
                                </div>
                            </div>

                        </div>

                    @}
                    @if(type_==2){
                        <!--修改优币和优钻和推荐次数-->
                        <#input id="gold" name="优币数" underline="true"/>
                        <#input id="ynum" name="优钻数" underline="true"/>
                        <#input id="recommendCount" name="推荐次数"/>
                    @}
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppUserInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppUserInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appUser/appUser_info.js"></script>
@}
