@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="createDate" name="注册时间" underline="true"/>
                            <#input id="usercoding" name="用户优优号" underline="true"/>
                            <#input id="sex" name="性别(1 男, 2 女)" underline="true"/>
                            <#input id="imgTx" name="用户头像" underline="true"/>
                            <#input id="charmGrade" name="魅力等级" underline="true"/>
                            <#input id="treasureGrade" name="财富等级" underline="true"/>
                            <#input id="gift" name="礼物数" underline="true"/>
                            <#input id="gold" name="优币数" underline="true"/>
                            <#input id="ynum" name="优钻数" underline="true"/>
                            <#input id="dateOfBirth" name="出生日期" underline="true"/>
                            <#input id="age" name="年龄" underline="true"/>
                            <#input id="password" name="密码" underline="true"/>
                            <#input id="phone" name="手机号" underline="true"/>
                            <#input id="state" name="是否冻结 1否,2是" underline="true"/>
                            <#input id="nickname" name="昵称"/>
                </div>

                <div class="col-sm-6">
                            <#input id="jd" name="经度" underline="true"/>
                            <#input id="wd" name="维度" underline="true"/>
                            <#input id="gzSid" name="微信公众号的一标识" underline="true"/>
                            <#input id="wxSid" name="微信标识" underline="true"/>
                            <#input id="qqSid" name="qq唯一标识" underline="true"/>
                            <#input id="status" name="是否开通房间 1否 ， 2是" underline="true"/>
                            <#input id="historyRecharge" name="历史充值" underline="true"/>
                            <#input id="historyDeposit" name="" underline="true"/>
                            <#input id="individuation" name="个性签名" underline="true"/>
                            <#input id="voice" name="声音签名" underline="true"/>
                            <#input id="roomName" name="房间名称" underline="true"/>
                            <#input id="constellation" name="星座" underline="true"/>
                            <#input id="fansNum" name="粉丝数" underline="true"/>
                            <#input id="attentionNum" name="关注数" underline="true"/>
                            <#input id="goldNum" name="财富的累加值" underline="true"/>
                            <#input id="yuml" name="魅力值" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppUserInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppUserInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appUser/appUser_info.js"></script>
@}
