@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用户管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="usercoding" name="优优ID" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="nickname" name="用户昵称" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="sex" name="用户性别" >
                                <option value="">全部</option>
                                <option value="1">男</option>
                                <option value="2">女</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#SelectCon id="status" name="是否开通房间" >
                                <option value="">全部</option>
                                <option value="1">否</option>
                                <option value="2">是</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="state" name="用户状态" >
                                <option value="">全部</option>
                                <option value="1">正常</option>
                                <option value="2">禁用</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppUser.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppUser.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppUserTableToolbar" role="group">
                            @if(shiro.hasPermission("/appUser/freeze")){
                                <#button name="禁用" icon="fa-plus" clickFun="AppUser.isFreeze(2)" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appUser/unfreeze")){
                                <#button name="解禁" icon="fa-edit" clickFun="AppUser.isFreeze(1)" space="true"/>
                            @}
                        </div>
                        <#table id="AppUserTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appUser/appUser.js"></script>
@}
