@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">
            <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">用户详细资料</div>
            <div class="row"  style="line-height: 1px;padding-top: 20px">
                <div class="col-sm-8">
                    <#label id="id" name="注册时间" value="${item.createDate}" underline="true"/>
                    <#label id="usercoding" name="用户优优ID" value="${item.usercoding}" underline="true"/>
                    <#label id="nickname" name="用户昵称" value="${item.nickname}" underline="true"/>
                    <#label id="phone" name="用户手机号" value="${item.phone}" underline="true"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户头像</label>
                        <div class="col-sm-9">
                            <img width="80px" height="80px" src="${item.imgTx}" class="img-circle"/>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <#label id="sexName" name="性别" value="${item.sexName}" underline="true"/>
                    <#label id="dateOfBirth" name="出生日期" value="${item.dateOfBirth}" underline="true"/>
                    <#label id="individuation" name="个性签名" value="${item.individuation}" underline="true"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">声音签名</label>
                        <div class="col-sm-9">
                            @if(item.voice!=null && item.voice!=''){
                                <i class="fa fa-volume-up" style="font-size: large" onclick="AppUserInfoDlg.getVoice(this)"></i>
                                <span id="voiceSize"></span>
                                <audio id="voice" width="100px" height="100px" src="${item.voice}">当前浏览器不支持播放该音频</audio>
                            @}
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <#label id="statusName" name="是否开通房间" value="${item.statusName}" underline="true"/>
                    @if(item.status==2){
                        <#label id="roomName" name="房间名称" value="${item.roomName_}" underline="true"/>
                    @}
                    <!--相册-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">相册</label>
                        <div class="col-sm-9">
                            @if(appImagesCount==0){
                                <label class="control-label">暂无图片</label>
                            @}
                            @if(appImagesCount>0){
                                @for(img in appImages){
                                <img width="100px" height="100px" src="${img.url}" onclick="AppUserInfoDlg.ckPicture(this)">
                                @}
                            @}
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    @if(item.xm==null){
                        <#label id="xm" name="实名认证" value="未认证" underline="true"/>
                    @}
                    @if(item.xm!=null){
                        <#label id="xm" name="实名认证" value="${item.xm}-${item.card}" underline="true"/>
                    @}
                    <#label id="stateName" name="状态" value="${item.stateName}" underline="true"/>
                </div>
            </div>
            <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">活跃资料</div>
            <div class="row"  style="line-height: 1px;padding-top: 20px">
                <div class="col-sm-8">
                    <#label id="treasureGrade" name="财富等级" value="${item.treasureGrade}" underline="true"/>
                    <#label id="charmGrade" name="魅力等级" value="${item.charmGrade}" underline="true"/>
                    <#label id="scene" name="道具数" value="${item.scene}" underline="true"/>
                    <#label id="gift" name="礼物数" value="${item.gift}" underline="true"/>
                    <#label id="historyRecharge" name="历史充值金额" value="${item.ybrecharge}" underline="true"/>
                    <#label id="historyDeposit" name="历史提现金额" value="${item.historyDeposit}" underline="true"/>
                    <#label id="inviteCount" name="邀请人数" value="${item.inviteCount}" underline="true"/>
                    <#label id="inviteAward" name="邀请奖励" value="${item.inviteAward}" underline="true"/>
                    <#label id="divideAward" name="分成奖励" value="${item.divideAward}" underline="true"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appUser/appUser_info.js"></script>
@}
