@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="horizontalForm">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">礼物名称</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="name" maxlength="10" name="name" value="${item.name}">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">礼物图片</label>
                        <div class="col-sm-9">
                            <#uploadImg id="imgFm" fileImg="${item.imgFm}"/>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">礼物动态图</label>
                        <div class="col-sm-9">
                            <#uploadImg id="img" fileImg="${item.img}"/>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <#input id="gold" name="所需优币" underline="true" value="${item.gold}"/>
                    <#input id="yz" name="可兑换优钻" underline="true" value="${item.yz}"/>
                    <#input id="sequence" name="排序" underline="true" value="${item.sequence}"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">类型</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="state" name="state">
                                <option value="1" ${item.state ==1?"selected":""}>包裹</option>
                                <option value="2" ${item.state ==2?"selected":""}>普通礼物</option>
                                <option value="3" ${item.state ==3?"selected":""}>神奇礼物</option>
                                <option value="4" ${item.state ==4?"selected":""}>专属礼物</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">售卖天数</label>
                        <div class="col-sm-9">
                            <div class="col-sm-8">
                                <input class="form-control" id="days" name="day" value="${item.day >=0?item.day:''}">
                            </div>
                            <div class="col-sm-1"><label>天</label></div>
                            <div class="col-sm-3">
                                <input type="checkbox" id="day_"  value="-1" ${item.day ==-1?"checked":""}>不限
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否为特价</label>
                        <div class="col-sm-9">
                            <input type="radio" name="status" value="1"  ${item.status ==1?"checked":""}>否&nbsp;&nbsp;
                            <input type="radio" name="status" value="2"  ${item.status ==2?"checked":""}>是
                        </div>
                    </div>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppGiftInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppGiftInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appGift/appGift_info.js"></script>
@}
