@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>礼物管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="name" name="礼物名称" />
                            </div>
                            <div class="col-sm-3">
                                <!--1包裹，2普通礼物，3神奇礼物，4 专属礼物-->
                                <#SelectCon id="state" name="所属分类" >
                                <option value="">全部</option>
                                <option value="1">包裹</option>
                                <option value="2">普通礼物</option>
                                <option value="3">神奇礼物</option>
                                <option value="4">专属礼物</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="isState" name="状态" >
                                <option value="">全部</option>
                                <option value="1">销售中</option>
                                <option value="2">已下架</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="上架开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="上架结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppGift.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppGift.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppGiftTableToolbar" role="group">
                            @if(shiro.hasPermission("/appGift/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppGift.openAddAppGift()"/>
                            @}
                            @if(shiro.hasPermission("/appGift/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppGift.openAppGiftDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appGift/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppGift.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppGiftTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appGift/appGift.js"></script>
@}
