@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${appAuditId}">

            <div class="row">

                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否通过</label>
                        <div class="col-sm-9">
                            <input type="radio" name="state" checked value="2">通过
                            <input type="radio" name="state" value="3">不通过
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注</label>
                        <div class="col-sm-9">
                            <textarea type="text/plain" style="width:60%;height:200px;" id="mark"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppAuditInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppAuditInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appAudit/appAudit_info.js"></script>
@}
