@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>实名认证管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="eid" name="优优ID" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="state" name="状态" >
                                <option value="">全部</option>
                                <option value="1">待审核</option>
                                <option value="2">已通过</option>
                                <option value="3">已拒绝</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppAudit.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppAudit.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppAuditTableToolbar" role="group">
                            @if(shiro.hasPermission("/appAudit/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppAudit.openAddAppAudit()"/>
                            @}
                            @if(shiro.hasPermission("/appAudit/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppAudit.openAppAuditDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appAudit/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppAudit.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppAuditTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appAudit/appAudit.js"></script>
@}
