@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="createTime" name="" underline="true"/>
                            <#input id="eid" name="优优id" underline="true"/>
                            <#input id="name" name="昵称" underline="true"/>
                            <#input id="xm" name="姓名"/>
                </div>

                <div class="col-sm-6">
                            <#input id="card" name="身份证" underline="true"/>
                            <#input id="state" name="1 待审核，2 审核通过， 3 已拒绝" underline="true"/>
                            <#input id="mark" name="备注" underline="true"/>
                            <#input id="isDelete" name="'是否被删除（1=否  2=是）'" underline="true"/>
                            <#input id="photoUrl" name="照片访问URL" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppAuditInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppAuditInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appAudit/appAudit_info.js"></script>
@}
