@layout("/common/_container.html"){
<div class="search_box" style="margin-left: 2%;">
    <div class="ibox float-e-margins" id="titleDivU1Form">
        <div class="ibox-content">
            <div class="form-horizontal" id="form1">
                <div style="height: 50px;line-height:50px;width: 100%;background-color: #eeeeee;font-size: 15px;font-weight: bold;padding-left: 10px">
                    邀请明细&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;累计${sum}元
                </div>
                <div class="ibox-content">
                    <div class="row row-lg">
                        <input type="hidden" id="uid" value="${uid}">
                         <#table id="AppInviteTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appInvite/appInvite.js"></script>
@}
