@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>收益统计</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                        	<div class="col-sm-2">
                        		<#input id="guildId" name="" value="${shiro.getUser().account}" disabled="disabled" />
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="name" name="消费用户" />
                            </div>
                            <!-- <div class="col-sm-2">
                                <#NameCon id="eid" name="优优ID" />
                            </div> -->
                            <div class="col-sm-2">
                                <#NameCon id="rid" name="房间ID" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="price" name="礼物单价" >
	                                <option value="">全部</option>
	                                <option value="1000">>=1000</option>
	                                <option value="3000">>=3000</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppRoomTurnover.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppRoomTurnover.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppRoomTurnoverTableToolbar" role="group">
                            <#button name="导出" icon="fa-download" clickFun="AppRoomTurnover.export()" space="true"/>
                        </div>
                        <#table id="AppRoomTurnoverTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appRoomTurnover/appRoomTurnover.js"></script>
@}
