@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>聊天室收益</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                        	<div class="col-sm-2">
                        		<#input id="guildId" name="" value="${shiro.getUser().account}" disabled="disabled" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="roomName" name="房间名称" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="rid" name="房间ID" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="name" name="房主昵称" />
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="state" name="是否设为牌照房间" >
                                <option value="">全部</option>
                                <option value="1">否</option>
                                <option value="2">是</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppRoomTurnoverRoom.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppRoomTurnoverRoom.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppRoomTurnoverRoomTableToolbar" role="group">
                            <#button name="导出" icon="fa-download" clickFun="AppRoomTurnoverRoom.export()" space="true"/>
                        </div>
                        <#table id="AppRoomTurnoverRoomTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appRoomTurnover/appRoomTurnoverRoom.js"></script>
@}
