@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>协议号管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="eid" name="当前所在房间" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="usercoding" name="优优ID" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="state" name="是否分配" >
                                <option value="">全部</option>
                                <option value="1">否</option>
                                <option value="2">是</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppAgreement.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppAgreement.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppAgreementTableToolbar" role="group">
                            <#button name="模板导出" icon="fa-download" clickFun="AppAgreement.export()"/>
                            @if(shiro.hasPermission("/appAgreement/import")){
                                <#button name="导入" icon="fa-plus" clickFun="" id="uploadEventBtn" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appAgreement/income")){
                                <#button name="召回" icon="fa-plus" clickFun="AppAgreement.income()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appAgreement/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppAgreement.openAppAgreementDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appAgreement/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppAgreement.delete()" space="true"/>
                            @}
                            <input type="file" name="file" style="width:0px;height:0px;" id="uploadEventFile" onchange="AppAgreement.uploadBtn()">
                        </div>
                        <#table id="AppAgreementTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appAgreement/appAgreement.js"></script>
@}
