@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="createTime" name="" underline="true"/>
                            <#input id="usercoding" name="用户优优号" underline="true"/>
                            <#input id="individuation" name="个性签名" underline="true"/>
                            <#input id="sex" name="性别(1 男, 2 女)"/>
                </div>

                <div class="col-sm-6">
                            <#input id="dateOfBirth" name="出生日期" underline="true"/>
                            <#input id="nickname" name="昵称" underline="true"/>
                            <#input id="eid" name="当前房间id" underline="true"/>
                            <#input id="state" name="是否分配 1否，2 是" underline="true"/>
                            <#input id="isDelete" name="'是否被删除（1=否  2=是）'" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppAgreementInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppAgreementInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appAgreement/appAgreement_info.js"></script>
@}
