@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-12">
                    <#input id="index" name="协议号序列号" value="${item.index}" underline="true"/>
                    <#input id="nickname" name="昵称" value="${item.nickname}" underline="true"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">头像</label>
                        <div class="col-sm-9">
                            <#uploadImg id="img" fileImg="${item.img}"/>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">性别</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="sex" name="sex">
                                <option value="1" ${item.sex ==1?"selected":""}>男</option>
                                <option value="2" ${item.sex ==2?"selected":""}>女</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">出生日期</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control layer-date" onclick="laydate({istime: false, format: 'YYYY-MM-DD',max:laydate.now(0)})" id="dateOfBirth" value="${date}">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">个性签名</label>
                        <div class="col-sm-9">
                            <textarea type="text/plain" id="individuation" style="width:80%;height:200px;">${item.individuation}</textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppAgreementInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppAgreementInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appAgreement/appAgreement_info.js"></script>
@}
