@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>热搜词管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="name" name="热搜词" />
                            </div>
                            <div class="col-sm-3">
                                <!--1平台，2 用户-->
                                <#SelectCon id="state" name="来源" >
                                <option value="">全部</option>
                                <option value="1">平台添加</option>
                                <option value="2">用户搜索</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <!--是否是热搜 1否，2是-->
                                <#SelectCon id="status" name="是否为热搜" >
                                <option value="">全部</option>
                                <option value="1">否</option>
                                <option value="2">是</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppHot.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppHot.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppHotTableToolbar" role="group">
                            @if(shiro.hasPermission("/appHot/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppHot.openAddAppHot()"/>
                            @}
                            @if(shiro.hasPermission("/appHot/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppHot.openAppHotDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appHot/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppHot.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppHotTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appHot/appHot.js"></script>
@}
