@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>广播交友管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="eid" name="优优ID" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="name" name="用户昵称" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="content" name="内容" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="发布开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="发布结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppBroad.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppBroad.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppBroadTableToolbar" role="group">
                            @if(shiro.hasPermission("/appBroad/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppBroad.openAddAppBroad()"/>
                            @}
                            @if(shiro.hasPermission("/appBroad/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppBroad.openAppBroadDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appBroad/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppBroad.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppBroadTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appBroad/appBroad.js"></script>
@}
