@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>靓号管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="liang" name="靓号" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="uecding" name="优优ID" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppHall.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppHall.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppHallTableToolbar" role="group">
                            @if(shiro.hasPermission("/appHall/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppHall.openAddAppHall()"/>
                            @}
                            @if(shiro.hasPermission("/appHall/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppHall.openAppHallDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appHall/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppHall.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppHallTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appHall/appHall.js"></script>
@}
