@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-8">
                    <#input id="liang" name="靓号" value="${item.liang}" disabled='disabled' underline="true"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <button type="button" class="btn btn-primary " onclick="AppHallInfoDlg.appUserList()" >
                                <i ></i>&nbsp;选择用户
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户昵称</label>
                        <div class="col-sm-9">
                            <input id="uecding" name="uecding" type="hidden">
                            <input class="form-control" id="nickName" name="nickName" type="text"  disabled>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppHallInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppHallInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appHall/appHall_info.js"></script>
@}
