@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>房间流水</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameCon id="roomName" name="房间名称" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="rid" name="房间ID" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="name" name="房主昵称" />
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="state" name="是否设为牌照房间" >
                                <option value="">全部</option>
                                <option value="1">否</option>
                                <option value="2">是</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppYbconsume.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppYbconsume.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppYbconsumeTableToolbar" role="group">
                            @if(shiro.hasPermission("/appYbconsume/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppYbconsume.openAddAppYbconsume()"/>
                            @}
                            @if(shiro.hasPermission("/appYbconsume/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppYbconsume.openAppYbconsumeDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appYbconsume/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppYbconsume.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appYbconsumeRoom/export")){
                            <#button name="导出" icon="fa-download" clickFun="AppYbconsume.export()" space="true"/>
                            @}
                        </div>
                        <#table id="AppYbconsumeTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appYbconsume/appYbconsumeRoom.js"></script>
@}
