@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>优币消费管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="name" name="消费用户" />
                            </div>
                            <!-- <div class="col-sm-2">
                                <#NameCon id="eid" name="优优ID" />
                            </div> -->
                            <div class="col-sm-2">
                                <#NameCon id="rid" name="房间ID" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppYbconsume.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppYbconsume.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppYbconsumeTableToolbar" role="group">
                            @if(shiro.hasPermission("/appYbconsume/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppYbconsume.openAddAppYbconsume()"/>
                            @}
                            @if(shiro.hasPermission("/appYbconsume/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppYbconsume.openAppYbconsumeDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appYbconsume/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppYbconsume.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appYbconsume/export")){
                            <#button name="导出" icon="fa-download" clickFun="AppYbconsume.export()" space="true"/>
                            @}
                        </div>
                        <#table id="AppYbconsumeTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appYbconsume/appYbconsume.js"></script>
@}
