@layout("/common/_container.html"){
<style>
    .titleItem {
        float: left;
        text-align: center;
        width: 180px;
        line-height: 40px;
        border-top: 1px solid #E7EBEE;
        border-bottom: 1px solid #E7EBEE;
        border-left: 1px solid #E7EBEE;
        font-size: 16px;
    }
    .titleDiv {
        overflow: hidden;
    }
    .titleItemCk {
        color: #fff !important;
        background: #1AB395 !important;
    }
    .titleItem:last-child {
        border-right: 1px solid #E7EBEE;
    }
</style>
<div class="search_box" style="margin-left: 2%;">
    <div class="titleDiv">
        <div id="titleDivU1" class="titleItem titleItemCk" onclick="AppReport.titleClick2('titleDivU1',1)">用户</div>
        <div id="titleDivU2" class="titleItem" onclick="AppReport.titleClick2('titleDivU2',2)">房间</div>
        <div id="titleDivU3" class="titleItem" onclick="AppReport.titleClick2('titleDivU3',3)">音乐</div>
    </div>
    <!--举报-->
    <div id="container">
        <div id="tab" class="tab-pane">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row row-lg">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <#NameCon id="content" name="举报原因" />
                                        </div>
                                        <div class="col-sm-2">
                                            <#SelectCon id="status" name="状态" >
                                            <option value="">全部</option>
                                            <option value="1">未处理</option>
                                            <option value="2">已处理</option>
                                            </#SelectCon>
                                        </div>
                                        <div class="col-sm-2" id="musicType" hidden>
                                            <#SelectCon id="type" name="音乐所属" >
                                            <option value="">全部</option>
                                            <option value="0">平台</option>
                                            <option value="1">用户</option>
                                            </#SelectCon>
                                        </div>
                                        <div class="col-sm-3">
                                            <#button name="搜索" icon="fa-search" clickFun="AppReport.search()"/>
                                            <#button name="重置" icon="fa-trash" clickFun="AppReport.resetSearch()"/>
                                        </div>
                                    </div>
                                    <div class="hidden-xs" id="AppReportTableToolbar" role="group">
                                        @if(shiro.hasPermission("/appReport/add")){
                                        <#button name="添加" icon="fa-plus" clickFun="AppReport.openAddAppReport()"/>
                                        @}
                                        @if(shiro.hasPermission("/appReport/update")){
                                        <#button name="修改" icon="fa-edit" clickFun="AppReport.openAppReportDetail()" space="true"/>
                                        @}
                                        @if(shiro.hasPermission("/appReport/delete")){
                                        <#button name="删除" icon="fa-remove" clickFun="AppReport.delete()" space="true"/>
                                        @}
                                    </div>
                                    <#table id="AppReportTable"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appReport/appReport.js"></script>
@}
