@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>系统公告管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="标题/内容" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="NoticeInfo.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="NoticeInfoTableToolbar" role="group">
                            @if(shiro.hasPermission("/noticeInfo/add")){
                                <#button name="添加" icon="fa-plus" clickFun="NoticeInfo.openAddNoticeInfo()"/>
                            @}
                            @if(shiro.hasPermission("/noticeInfo/update")){
                                <#button name="修改" icon="fa-edit" clickFun="NoticeInfo.openNoticeInfoDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/noticeInfo/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="NoticeInfo.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="NoticeInfoTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/noticeInfo/noticeInfo.js"></script>
@}
