@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="imgUrl" name="Banner图" underline="true"/>
                    <#input id="imgTip" name="图片尺寸" underline="true"/>
                    <#input id="urlType" name="跳转类型"/>
                </div>

                <div class="col-sm-6">
                    <#input id="urlHtml" name="跳转路径" underline="true"/>
                    <#input id="remark" name="备注说明" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AdvertisingInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AdvertisingInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="${ctxPath}/static/js/plugins/wangEditor/wangEditor.js"></script>
<script src="${ctxPath}/static/modular/system/advertising/advertising_info.js"></script>
@}
