@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>广告管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Advertising.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AdvertisingTableToolbar" role="group">
                            @if(shiro.hasPermission("/advertising/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Advertising.openAddAdvertising()"/>
                            @}
                            @if(shiro.hasPermission("/advertising/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Advertising.openAdvertisingDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/advertising/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Advertising.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AdvertisingTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/advertising/advertising.js"></script>
@}
