@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>音乐管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="musicName" name="音乐名称" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="gsNane" name="歌手" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="uid" name="上传者ID" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <!--//是否上架，1上架，2下架-->
                                <#SelectCon id="status" name="是否上架" >
                                <option value="">全部</option>
                                <option value="1">上架</option>
                                <option value="2">下架</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppMusic.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppMusic.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppMusicTableToolbar" role="group">
                            @if(shiro.hasPermission("/appMusic/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppMusic.openAddAppMusic()"/>
                            @}
                            @if(shiro.hasPermission("/appMusic/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppMusic.openAppMusicDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appMusic/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppMusic.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppMusicTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appMusic/appMusic.js"></script>
@}
