@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="horizontalForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">音乐名称</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="musicName" maxlength="50" name="musicName" placeholder="最多50个字">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">音乐</label>
                        <div class="col-sm-9">
                            <#uploadMusic id="url"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">歌手名称</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="gsNane" maxlength="50" name="gsNane" placeholder="最多50个字">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AppMusicInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppMusicInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/appMusic/appMusic_info.js"></script>
@}
