@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Banner信息管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="title" name="banner名称" />
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="isSue" name="是否发布" >
                                <option value="">全部</option>
                                <option value="0">未发布</option>
                                <option value="1">已发布</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="BannerInfo.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="BannerInfo.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="BannerInfoTableToolbar" role="group">
                            @if(shiro.hasPermission("/bannerInfo/add")){
                                <#button name="添加" icon="fa-plus" clickFun="BannerInfo.openAddBannerInfo()"/>
                            @}
                            @if(shiro.hasPermission("/bannerInfo/update")){
                                <#button name="修改" icon="fa-edit" clickFun="BannerInfo.openBannerInfoDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/bannerInfo/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="BannerInfo.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="BannerInfoTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/bannerInfo/bannerInfo.js"></script>
@}
