@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="bannerInfoForm">

            <input type="hidden" id="id" value="">
            <input type="hidden" id="urlType_" value="1">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">banner标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">banner排序</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="orderby" name="orderby">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-4">
                            <!--1首页， 2 男神， 3 女神-->
                            <select class="form-control" id="type" name="type">
                                <option value="1">首页</option>
                                <option value="2">男神</option>
                                <option value="3">女神</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">banner图片</label>
                        <div class="col-sm-10">

                            <!--上传图片标签-begin（注意：imgUrl、imgUrlPreId、imgUrlBtnId） -->
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div id="imgUrlPreId">
                                        <div>
                                            <img src="${ctxPath}/static/img/NoPIC.png" style="width: 100px;height: 100px">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="head-scu-btn upload-btn" id="imgUrlBtnId">
                                        <i class="fa fa-upload"></i>&nbsp;上传
                                    </div>
                                </div>
                                <input type="hidden" id="imgUrl"/>
                            </div>
                            <!--上传图片标签-end -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">跳转类型</label>
                        <div class="col-sm-4">
                            <!--1是不跳转，2外部，3内部，4个人充值-->
                            <select class="form-control" id="urlType" name="urlType" onchange="BannerInfoInfoDlg.selectClick(this)">
                                <!--跳转类型(1不跳，2外部，3内部，4房主房间)-->
                                <option value="1">不跳转</option>
                                <option value="2">外部跳转</option>
                                <option value="3">内部跳转</option>
                                <option value="4">房主房间</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" id="urlHtmlDiv">
                        <label class="col-sm-2 control-label">跳转链接</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="urlHtml" name="urlHtml">
                        </div>
                    </div>

                    <div class="form-group" id="contentDiv">
                        <label class="col-sm-2 control-label">内部页面</label>
                        <div class="col-sm-10">
                            <textarea type="text/plain" id="editor" style="width:80%;height:200px;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注说明</label>
                        <div class="col-sm-9">
                            <textarea type="text/plain" id="remark" style="width:80%;height:200px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10 col-sm-offset-5">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BannerInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BannerInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/bannerInfo/bannerInfo_info.js"></script>
<link type="text/css" rel="stylesheet" href="${ctxPath}/static/js/plugins/umeditor/themes/default/css/umeditor.css">
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/js/plugins/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/js/plugins/umeditor/umeditor.js"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/js/plugins/umeditor/lang/zh-cn/zh-cn.js"></script>
@}
