@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="bannerInfoForm">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="contentVal" value='${item.content}'>
            <input type="hidden" id="urlType_" value='${item.urlType}'>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" name="title" value="${item.title}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="orderby" name="orderby" value="${item.orderby}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-4">
                            <!--1首页， 2 男神， 3 女神-->
                            <select class="form-control" id="type" name="type">
                                <option value="1" ${item.type == 1 ? 'selected=selected' : ''}>首页</option>
                                <option value="2" ${item.type == 2 ? 'selected=selected' : ''}>男神</option>
                                <option value="3"${item.type == 3 ? 'selected=selected' : ''}>女神</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Banner图片</label>
                        <div class="col-sm-10">

                            <!--上传图片标签-begin（注意：imgUrl、imgUrlPreId、imgUrlBtnId） -->
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div id="imgUrlPreId">
                                        <div>
                                            <img src="${item.imgUrl == '' ? '/static/img/NoPIC.png' :item.imgUrl}" style="width: 100px;height: 100px">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="head-scu-btn upload-btn" id="imgUrlBtnId">
                                        <i class="fa fa-upload"></i>&nbsp;上传
                                    </div>
                                </div>
                                <input type="hidden" id="imgUrl" value="${item.imgUrl}"/>
                            </div>
                            <!--上传图片标签-end -->

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">跳转类型</label>
                        <div class="col-sm-4">
                            <!--跳转类型 1是不跳转，2外部，3内部，4个人充值-->
                            <select class="form-control" id="urlType" name="urlType" onchange="BannerInfoInfoDlg.selectClick(this)">
                                <option value="1" ${item.urlType == 1 ? 'selected=selected' : ''}>不跳转</option>
                                <option value="2" ${item.urlType == 2 ? 'selected=selected' : ''}>外部跳转</option>
                                <option value="3" ${item.urlType == 3 ? 'selected=selected' : ''}>内部跳转</option>
                                <option value="4" ${item.urlType == 4 ? 'selected=selected' : ''}>房主房间</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" id="urlHtmlDiv">
                        <label class="col-sm-2 control-label" >跳转链接</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="urlHtml" name="urlHtml" value="${item.urlHtml}">
                        </div>
                    </div>

                    <div class="form-group" id="contentDiv">
                        <label class="col-sm-2 control-label">内部页面</label>
                        <div class="col-sm-10">
                            <textarea type="text/plain" id="editor" style="width:100%;height:350px;">${item.content}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注说明</label>
                        <div class="col-sm-9">
                            <textarea type="text/plain" id="remark" style="width:80%;height:200px;">${item.remark}</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10 col-sm-offset-5">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="BannerInfoInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BannerInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/bannerInfo/bannerInfo_info.js"></script>
<link type="text/css" rel="stylesheet" href="${ctxPath}/static/js/plugins/umeditor/themes/default/css/umeditor.css">
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/js/plugins/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/js/plugins/umeditor/umeditor.js"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/js/plugins/umeditor/lang/zh-cn/zh-cn.js"></script>
@}
