@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>反馈管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="usercoding" name="优优ID" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="content" name="反馈内容" />
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="status" name="状态" >
                                <option value="">全部</option>
                                <option value="1">未处理</option>
                                <option value="2">已处理</option>
                                </#SelectCon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="开始日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束日期" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppFeedback.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppFeedback.resetSearch()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppFeedbackTableToolbar" role="group">
                            @if(shiro.hasPermission("/appFeedback/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppFeedback.openAddAppFeedback()"/>
                            @}
                            @if(shiro.hasPermission("/appFeedback/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppFeedback.openAppFeedbackDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appFeedback/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppFeedback.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppFeedbackTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appFeedback/appFeedback.js"></script>
@}
