@layout("/common/_container.html"){
<link href="${ctxPath}/static/css/font-awesome.min.css" rel="stylesheet">
<script src="${ctxPath}/static/js/plugins/highcharts/highcharts.js"></script>
<style type="text/css">

	ztree li span. {
		margin-left: 4px;
		margin-right: -1px;
		background-position: -144px 0;
		vertical-align: top;
		*vertical-align: middle
	}

	.titleDiv {
		overflow: hidden;
	}

	.titleItem {
		float: left;
		text-align: center;
		width: 180px;
		line-height: 40px;
		border-top: 1px solid #E7EBEE;
		border-bottom: 1px solid #E7EBEE;
		border-left: 1px solid #E7EBEE;
		font-size: 16px;
	}

	.titleItem1 {
		float: left;
		text-align: center;
		width: 180px;
		line-height: 40px;
		border-bottom: 1px solid #E7EBEE;
		border-left: 1px solid #E7EBEE;
		font-size: 16px;
	}

	.titleItemCk {
		color: #fff !important;
		background: #1AB395 !important;
	}

	.titleItem:last-child {
		border-right: 1px solid #E7EBEE;
	}

	/* 订单分析 */
	ul {
		list-style-type: none;
	}

	.orderFenxiBox {
		width: 100%;
		display: flex;
		align-items: center;
		background-color: white;
	}

	.orderFenxiItem {
		flex: 1;
		padding: 20px 0;
	}

	.orderFenxiItem:last-child  .orderFenxiItem_number {
		border-right: 0 none;
	}

	.orderFenxiItem_number {
		width: 80%;
		height: 80%;
		line-height: 90px;
		padding: 20px 0;
		font-size: 32px;
		color: #1AB394;
		text-align: center;
		border-right: 1px solid #eaeaea;
	}

	.orderFenxiItem_title, .orderFenxiItem_last {
		line-height: 40px;
		font-size: 14px;
	}
</style>
<!-- <div class="row" style="margin-left: 2%;">
	<div class="col-sm-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>平台总用户</h3>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins text-navy">${userList[0].count1}</h1>
				<div class="stat-percent font-bold">人</i>
				</div>
				<h4>总人数</h4>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>牌照房主数</h3>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins text-warning">${userList[0].count2}</h1>
				<div class="stat-percent font-bold">人</i>
				</div>
				<h4>总人数</h4>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>本月新增用户数</h3>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins text-success">${userList[0].count3}</h1>
				<div class="stat-percent font-bold">人</i>
				</div>
				<h4>总人数</h4>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>今日新增用户数</h3>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins text-warning">${userList[0].count4}</h1>
				<div class="stat-percent font-bold">人</i>
				</div>
				<h4>总人数</h4>
			</div>
		</div>
	</div>
</div>
<br />
<div class="search_box" style="margin-left: 2%;">
	<div class="titleDiv">
		<div id="titleDivU1" class="titleItem titleItemCk"
			 onclick="userByCity(this)">用户注册城市</div>
		<div id="titleDivU2" class="titleItem " onclick="userBySix(this)">用户性别分布图</div>
		<div id="titleDivU3" class="titleItem" onclick="userByAge(this)">用户年龄分布图</div>
		<div id="titleDivU4" class="titleItem" onclick="userByHuo(this)">注册用户活跃度</div>
	</div>
	<div id="container1" style="min-width: 400px; height: 400px"></div>
</div>
<br />
<div class="search_box" style="margin-left: 2%;">
	<div class="titleDiv">
		<div id="tit" class="titleItem1">财务统计分析</div>
	</div>
	<ul class="orderFenxiBox">
		<li class="orderFenxiItem">
			<p class="orderFenxiItem_title">本周充值总优币</p>
			<div class="orderFenxiItem_number">￥${moneyList.totalMoney1_}优币</div>
			<p class="orderFenxiItem_last">相比上周${moneyList.str1}${moneyList.percentage1}%</p>
		</li>
		<li class="orderFenxiItem">
			<p class="orderFenxiItem_title">本月充值总优币</p>
			<div class="orderFenxiItem_number">￥<span id="totalMoney2">${moneyList.totalMoney2_}</span>优币</div>
			<p class="orderFenxiItem_last">相比上月${moneyList.str2}${moneyList.percentage2}%</p>
		</li>
		<li class="orderFenxiItem">
			<p class="orderFenxiItem_title">本年充值总优币</p>
			<div class="orderFenxiItem_number">￥<span id="totalMoney3">${moneyList.totalMoney3_}</span>优币</div>
			<p class="orderFenxiItem_last">相比上年${moneyList.str3}${moneyList.percentage3}%</p>
		</li>
	</ul>
	<ul class="orderFenxiBox">
		<li class="orderFenxiItem">
			<p class="orderFenxiItem_title">本周平台总收入</p>
			<div class="orderFenxiItem_number">￥${moneyList.totalMoney4_}元</div>
			<p class="orderFenxiItem_last">相比上周${moneyList.str4}${moneyList.percentage4}%</p>
		</li>
		<li class="orderFenxiItem">
			<p class="orderFenxiItem_title">本月平台总收入</p>
			<div class="orderFenxiItem_number">￥<span id="totalMoney5">${moneyList.totalMoney5_}</span>元</div>
			<p class="orderFenxiItem_last">相比上月${moneyList.str5}${moneyList.percentage5}%</p>
		</li>
		<li class="orderFenxiItem">
			<p class="orderFenxiItem_title">本年平台总收入</p>
			<div class="orderFenxiItem_number">￥<span id="totalMoney6">${moneyList.totalMoney6_}</span>元</div>
			<p class="orderFenxiItem_last">相比上年${moneyList.str6}${moneyList.percentage6}%</p>
		</li>
	</ul>
	<ul class="orderFenxiBox">
		<li class="orderFenxiItem">
			<p class="orderFenxiItem_title">本周平台净收入</p>
			<div class="orderFenxiItem_number">￥${moneyList.totalMoney7_}优钻</div>
			<p class="orderFenxiItem_last">相比上周${moneyList.str7}${moneyList.percentage7}%</p>
		</li>
		<li class="orderFenxiItem">
			<p class="orderFenxiItem_title">本月平台净收入</p>
			<div class="orderFenxiItem_number">￥<span id="totalMoney8">${moneyList.totalMoney8_}</span>优钻</div>
			<p class="orderFenxiItem_last">相比上月${moneyList.str8}${moneyList.percentage8}%</p>
		</li>
		<li class="orderFenxiItem">
			<p class="orderFenxiItem_title">本年平台净收入</p>
			<div class="orderFenxiItem_number">￥<span id="totalMoney9">${moneyList.totalMoney9_}</span>优钻</div>
			<p class="orderFenxiItem_last">相比上年${moneyList.str9}${moneyList.percentage9}%</p>
		</li>
	</ul>
</div>
<br />
<div class="search_box" style="margin-left: 2%;">
	<div class="titleDiv">
		<div id="titleDiv1" class="titleItem titleItemCk"
			 onclick="regisUser(this)">用户注册趋势图</div>
		<div id="titleDiv2" class="titleItem" onclick="loginUser(this)">日活跃用户趋势图</div>
		<div id="titleDiv3" class="titleItem" onclick="chongzhi(this)">优币充值趋势图</div>
		<div id="titleDiv4" class="titleItem" onclick="shouru(this)">平台收入趋势图</div>
	</div>
	<div id="container" style="min-width: 400px; height: 400px"></div>
</div>
</div> -->
<!-- ChartJS-->
<script src="${ctxPath}/static/js/plugins/chartJs/Chart.min.js"></script>
<script type="text/javascript">
    $(function () {
        regisUser();
        userByCity();
    });
    /*用户国家分部图*/
    function userByCity(){
        document.getElementById("titleDivU1").setAttribute("class", "titleItem titleItemCk");
        document.getElementById("titleDivU2").setAttribute("class", "titleItem");
        document.getElementById("titleDivU3").setAttribute("class", "titleItem");
        document.getElementById("titleDivU4").setAttribute("class", "titleItem");
        $.post(Feng.ctxPath + "/blackboard/userByCity",function(data){
            //定义一个数组
            browsers = [],
                //迭代，把异步获取的数据放到数组中
                $.each(data,function(i,d){
                    browsers.push([d.city,parseInt(d.count)]);
                });
            $('#container1').highcharts(
                {
                    chart : {
                        plotBackgroundColor : null,
                        plotBorderWidth : 1,
                        plotShadow : false
                    },
                    title : {
                        text : '用户注册城市分部图'
                    },
                    tooltip : {
                        pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions : {
                        pie : {
                            allowPointSelect : true,
                            cursor : 'pointer',
                            dataLabels : {
                                enabled : true,
                                format : '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style : {
                                    color : (Highcharts.theme && Highcharts.theme.contrastTextColor)
                                    || 'black'
                                }
                            }
                        }
                    },
                    series : [ {
                        type : 'pie',
                        name : 'Browser share',
                        data : browsers
                    } ]
                });
        });
    }
    /*用户性别分布图*/
    function userBySix(){
        document.getElementById("titleDivU1").setAttribute("class", "titleItem");
        document.getElementById("titleDivU2").setAttribute("class", "titleItem titleItemCk");
        document.getElementById("titleDivU3").setAttribute("class", "titleItem");
        document.getElementById("titleDivU4").setAttribute("class", "titleItem");
        $.post(Feng.ctxPath + "/blackboard/userBySix",function(data){
            //定义一个数组
            browsers = [],
                //迭代，把异步获取的数据放到数组中
                $.each(data,function(i,d){
                    browsers.push([d.sex,parseInt(d.count)]);
                });
            $('#container1').highcharts(
                {
                    chart : {
                        plotBackgroundColor : null,
                        plotBorderWidth : 1,
                        plotShadow : false
                    },
                    title : {
                        text : '用户性别分布图'
                    },
                    tooltip : {
                        pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions : {
                        pie : {
                            allowPointSelect : true,
                            cursor : 'pointer',
                            dataLabels : {
                                enabled : true,
                                format : '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style : {
                                    color : (Highcharts.theme && Highcharts.theme.contrastTextColor)
                                    || 'black'
                                }
                            }
                        }
                    },
                    series : [ {
                        type : 'pie',
                        name : 'Browser share',
                        data : browsers
                    } ]
                });
        });
    }
    /*用户年龄分布图*/
    function userByAge(){
        document.getElementById("titleDivU1").setAttribute("class", "titleItem");
        document.getElementById("titleDivU2").setAttribute("class", "titleItem");
        document.getElementById("titleDivU3").setAttribute("class", "titleItem titleItemCk");
        document.getElementById("titleDivU4").setAttribute("class", "titleItem");
        $.post(Feng.ctxPath + "/blackboard/userByAge",function(data){
            //定义一个数组
            browsers = [],
                //迭代，把异步获取的数据放到数组中
                $.each(data,function(i,d){
                    browsers.push([d.name,parseInt(d.count)]);
                });
            $('#container1').highcharts(
                {
                    chart : {
                        plotBackgroundColor : null,
                        plotBorderWidth : 1,
                        plotShadow : false
                    },
                    title : {
                        text : '用户年龄分布图'
                    },
                    tooltip : {
                        pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions : {
                        pie : {
                            allowPointSelect : true,
                            cursor : 'pointer',
                            dataLabels : {
                                enabled : true,
                                format : '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style : {
                                    color : (Highcharts.theme && Highcharts.theme.contrastTextColor)
                                    || 'black'
                                }
                            }
                        }
                    },
                    series : [ {
                        type : 'pie',
                        name : 'Browser share',
                        data : browsers
                    } ]
                });
        });
    }
    /*注册用户活跃度占比*/
    function userByHuo(){
        document.getElementById("titleDivU1").setAttribute("class", "titleItem");
        document.getElementById("titleDivU2").setAttribute("class", "titleItem");
        document.getElementById("titleDivU3").setAttribute("class", "titleItem");
        document.getElementById("titleDivU4").setAttribute("class", "titleItem titleItemCk");
        $.post(Feng.ctxPath + "/blackboard/userByHuo",function(data){
            //定义一个数组
            browsers = [],
                //迭代，把异步获取的数据放到数组中
                $.each(data,function(i,d){
                    browsers.push([d.name,parseInt(d.count)]);
                });
            $('#container1').highcharts(
                {
                    chart : {
                        plotBackgroundColor : null,
                        plotBorderWidth : 1,
                        plotShadow : false
                    },
                    title : {
                        text : '注册用户活跃度占比'
                    },
                    tooltip : {
                        pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions : {
                        pie : {
                            allowPointSelect : true,
                            cursor : 'pointer',
                            dataLabels : {
                                enabled : true,
                                format : '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style : {
                                    color : (Highcharts.theme && Highcharts.theme.contrastTextColor)
                                    || 'black'
                                }
                            }
                        }
                    },
                    series : [ {
                        type : 'pie',
                        name : 'Browser share',
                        data : browsers
                    } ]
                });
        });
    }


    /*注册用户趋势图*/
    function regisUser(){
        document.getElementById("titleDiv1").setAttribute("class", "titleItem titleItemCk");
        document.getElementById("titleDiv2").setAttribute("class", "titleItem");
        document.getElementById("titleDiv3").setAttribute("class", "titleItem");
        document.getElementById("titleDiv4").setAttribute("class", "titleItem");
        $.post(Feng.ctxPath + "/blackboard/getTrendMap",{type:1},function(data){
            $('#container').highcharts({
                chart: {
                    type: 'area'
                },
                title: {
                    text: '注册用户趋势图'
                },
                xAxis: {
                    categories: eval(data.strDay),
                    tickWidth:0,    //设置刻度标签宽度
                    lineColor:'#FFFFFF',//设置坐标颜色
                    lineWidth:0,//设置坐标宽度
                    labels:{
                        enabled:true //设置刻度是否显示
                    }
                },
                yAxis: {
                    title: {
                        text: '人数'
                    },
                    labels: {
                        formatter: function () {
                            return this.value+ '人';
                        }
                    }
                },
                tooltip: {
                    pointFormat: '{series.name} 人数： <b>{point.y:,.0f}</b>'
                },
                series:eval(data.strNumber)

            });
        });
    }

    /**
     * 用户日活跃度趋势图
     */
    function loginUser(){
        document.getElementById("titleDiv1").setAttribute("class", "titleItem");
        document.getElementById("titleDiv2").setAttribute("class", "titleItem titleItemCk");
        document.getElementById("titleDiv3").setAttribute("class", "titleItem");
        document.getElementById("titleDiv4").setAttribute("class", "titleItem");
        $.post(Feng.ctxPath + "/blackboard/getTrendMap",{type:2},function(data){
            $('#container').highcharts({
                chart: {
                    type: 'area'
                },
                title: {
                    text: '日活跃用户'
                },
                xAxis: {
                    categories: eval(data.strDay),
                    tickWidth:0,    //设置刻度标签宽度
                    lineColor:'#FFFFFF',//设置坐标颜色
                    lineWidth:0,//设置坐标宽度
                    labels:{
                        enabled:true //设置刻度是否显示
                    }
                },
                yAxis: {
                    title: {
                        text: '人'
                   },
                    labels: {
                        formatter: function () {
                            return this.value+ '人';
                        }
                    }
                },
                tooltip: {
                    pointFormat: '{series.name} 人： <b>{point.y:,.0f}</b>'
                },
                series:eval(data.strNumber)

            });
        });
    }
    /*优币充值*/
    function chongzhi(){
        document.getElementById("titleDiv1").setAttribute("class", "titleItem");
        document.getElementById("titleDiv2").setAttribute("class", "titleItem");
        document.getElementById("titleDiv3").setAttribute("class", "titleItem titleItemCk");
        document.getElementById("titleDiv4").setAttribute("class", "titleItem");
        $.post(Feng.ctxPath + "/blackboard/getTrendMap",{type:3},function(data){
            $('#container').highcharts({
                chart: {
                    type: 'area'
                },
                title: {
                    text: '优币充值'
                },
                xAxis: {
                    categories: eval(data.strDay),
                    tickWidth:0,    //设置刻度标签宽度
                    lineColor:'#FFFFFF',//设置坐标颜色
                    lineWidth:0,//设置坐标宽度
                    labels:{
                        enabled:true //设置刻度是否显示
                    }
                },
                yAxis: {
                    title: {
                        text: '个'
                    },
                    labels: {
                        formatter: function () {
                            return this.value+ '个';
                        }
                    }
                },
                tooltip: {
                    pointFormat: '{series.name} 个： <b>{point.y:,.0f}</b>'
                },
                series:eval(data.strNumber)

            });
        });
    }
    /*平台收入*/
    function shouru(){
        document.getElementById("titleDiv1").setAttribute("class", "titleItem");
        document.getElementById("titleDiv2").setAttribute("class", "titleItem");
        document.getElementById("titleDiv3").setAttribute("class", "titleItem ");
        document.getElementById("titleDiv4").setAttribute("class", "titleItem titleItemCk");
        $.post(Feng.ctxPath + "/blackboard/getTrendMap",{type:4},function(data){
            $('#container').highcharts({
                chart: {
                    type: 'area'
                },
                title: {
                    text: '平台收入'
                },
                xAxis: {
                    categories: eval(data.strDay),
                    tickWidth:0,    //设置刻度标签宽度
                    lineColor:'#FFFFFF',//设置坐标颜色
                    lineWidth:0,//设置坐标宽度
                    labels:{
                        enabled:true //设置刻度是否显示
                    }
                },
                yAxis: {
                    title: {
                        text: '元'
                    },
                    labels: {
                        formatter: function () {
                            return this.value+ '元';
                        }
                    }
                },
                tooltip: {
                    pointFormat: '{series.name} 元： <b>{point.y:,.0f}</b>'
                },
                series:eval(data.strNumber)

            });
        });
    }
</script>
@}
