a:link {
    color: #ffffff;
}

.head nav {
    height: 0.61rem;
    margin: 0 2.6rem;
    display: flex;
    justify-content: space-between;
    line-height: 0.61rem;
}

.head nav .logo {
    font-size: 0.24rem;
    color: #ffffff;
}

.head nav .logo img {
    height: 0.61rem;
    margin-right: 0.16rem;
}

.head nav div {
    display: flex;
}

.head nav div a {
    color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 0.6rem;
    font-weight: 400;
    font-size: 0.24rem;
    position: relative;
    cursor: pointer;
}

.head nav div a:hover {
    color: #ffffff;
    text-decoration: none;
}

.head nav div a.active::after, .head nav div a:hover::after {
    content: "";
    width: 0.54rem;
    height: 0.02rem;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -0.27rem;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.28rem;
    height: 3.37rem;
    background: url("../images/footbg.png") no-repeat;
    background-size: cover;
}

.foot * {
    color: #ffffff;
}

.footL, .footR {
    margin: 0 0.35rem;
}

.footL div {
    display: flex;
    justify-content: center;
}

.footL div a {
    margin: 0 0.115rem;
    font-size: 0.18rem;
}

.footL p {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
}

.footL p * {
    font-size: 0.16rem;
}

.footL p img {
    width: 0.14rem;
    height: 0.23rem;
}

.footL p label {
    margin-left: 0.14rem;
}

.footR {
    border: 1px solid #ffffff;
    border-bottom: 0;
    padding: 0.24rem;
    position: relative;
}

.footR::before {
    content: "";
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 20px;
    background: #ffffff;
    bottom: 0;
    left: 0;
}

.footR::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 20px;
    background: #ffffff;
    bottom: 0;
    right: 0;
}

.footR div {
    padding: 2px;
    background: #ffffff;
}

.footR p {
    position: relative;
    text-align: center;
    top: 0.3rem;
}