html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button, textarea, select {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
	color: #666;
	border: 0;
	vertical-align: baseline
}

body {
	line-height: 1
}

ul, ol {
	list-style: none
}

input, button, textarea, select, input:focus, textarea:focus {
	background: 0;
	outline: 0
}

textarea {
	resize: none;
	overflow: auto
}

select {
	border: 0
}

a, button {
	cursor: pointer
}

a {
	text-decorattion: none;
	blr: expression(this.onFocus=this.blur())
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

button, input, optgroup, select, textarea {
	-webkit-appearance: none
}

a, button, input, optgroup, select, textarea {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a, img {
	-webkit-touch-callout: none
}

video, img {
	vertical-align: top
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	display: block;
	margin: 0;
	padding: 0
}

mark {
	background: 0
}

sub, sup {
	vertical-align: baseline
}

:link, :visited, ins {
	text-decoration: none
}

:focus {
	outline: 0
}

::selection {
	background: #54bd4c;
	color: #fff
}

::-moz-selection {
	background: #54bd4c;
	color: #fff
}

::-webkit-selection {
	background: #54bd4c;
	color: #fff
}

.fl {
	float: left
}

.fr {
	float: right
}

.clear {
	clear: both
}

.clearoutline:focus {
	outline: 0
}

a:link {
	text-decoration: none;
	color: #666
}

/*iphone6*/

/* @media(min-device-width:375px)and(max-device-width:667px)and(-webkit-min-device-pixel-ratio:2){
	html{font-size:117.1875px;}
} */

/*iphone6plus*/

/* @media(min-device-width:414px)and(max-device-width:736px)and(-webkit-min-device-pixel-ratio:3){
	html{font-size:129.375px;}
} */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

html {
	font-size: 100px;
}