@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>入会与退会记录</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                        	<!-- <div class="col-sm-3">
                                <#SelectCon id="status" name="分组" >
                                <option value="">全部</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                </#SelectCon>
                            </div> -->
                            <div class="col-sm-3">
                                <#NameCon id="usercoding" name="优优ID" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="nickname" name="昵称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppGuildHistory.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="AppGuildHistory.resetSearch()"/>
                            </div>
                        </div>
                        <#table id="appGuildHistoryTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appGuildHistory/appGuildHistory.js"></script>
@}
