@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>ios版本控制管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!--<div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppIosVersions.search()"/>
                            </div>
                        </div>-->
                        <div class="hidden-xs" id="AppIosVersionsTableToolbar" role="group">
                            @if(shiro.hasPermission("/appIosVersions/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AppIosVersions.openAddAppIosVersions()"/>
                            @}
                            @if(shiro.hasPermission("/appIosVersions/update")){
                                <#button name="修改" icon="fa-edit" clickFun="AppIosVersions.openAppIosVersionsDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appIosVersions/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="AppIosVersions.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppIosVersionsTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/appIosVersions/appIosVersions.js"></script>
@}
